
.container{
    position: relative ;
    font-family: font71030, sans-serif;
    font-size: 16px;
    background-image: url("../image/rana-sawalha-364253-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /*min-width: 100vw;*/
}

.header{
    position: relative;
    box-sizing: border-box;
    height: 3.4375rem;
    color:white;
    background: rgba(0, 0, 0, 0.5);
}

.title{
    position: absolute;
    top: 1.25rem;
    left: 5.0625rem;
    color: white;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.title:hover{
    color:#329a65;
}

.header-icons {
    width: 9.5rem;
    position: absolute;
    top: 0.9rem;
    right: 15.25rem;
}

.header-icons:hover {
    color:#329a65;
}

.header-icon-link{
    text-decoration: none;
    color: white;
    margin: 0 0 0 0.875rem;
}

.ic-calendar{
display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url("../image/ic.png");
    background-position: -1rem -3rem;
    background-size: 9.875rem;
    border-radius: 0.2rem;
}

.ic-forum{
    display: inline-block;
    width: 1.6rem;
    height: 1.3rem;
    background-image: url("../image/ic.png");
    background-position: -4rem -5.4rem;
    border-radius: 0.2rem;
}

.ic-journey{
    display: inline-block;
    width: 1.35rem;
    height: 1.35rem;
    background-image: url("../image/ic.png");
    background-position: 2.45rem -7.9rem;
    border-radius: 1rem;
    background-size: 9.875rem;
}

 .header-icon-link:hover .ic-calendar,
 .header-icon-link:hover .ic-journey,
 .header-icon-link:hover .ic-forum{
    filter: invert(53%) sepia(16%) saturate(1587%) hue-rotate(97deg) brightness(92%) contrast(83%);
}

.header-line{
    position: absolute;
    top: 1rem;
    right: 13.95rem;
    height: 1.25rem;
    border-left: 0.08rem solid rgba(150, 150, 150, 0.69);
    margin: 0 1.5625rem 0 1.5625rem;

}

.header-right-welcome{
    width: 12.125rem;
    font-size:0.75rem ;
    display: block;
    text-align: right;
    position: absolute;
    top: 1.25rem;
    right: 4.75rem;
}

.header-link{
    text-decoration: none;
    color: #329a65;
}

.header-link:hover{
    color: #329a65;
    text-decoration: underline;
}

.main-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27.8125rem;
    height: 36.6875rem;
    border-radius: 0.64rem;
    border: none;
    background: white;
    z-index: 1;
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.4);
}

.form-element{
    position: absolute;
    top: 2rem;
    left: 0;
    width:1.25rem ;
    height: 1.25rem;
    background:#329a65 ;
    clear: left;
}

.form-container{
    position: relative;
    border: none;
    margin: 2rem auto;
    width: 20.25rem;
}

.form-text{
    position: absolute;
    font-weight: bold;
    color: #434343;
    top: 0;
    left: 0;
}

.form-link {
    text-decoration: none;
    color: #329a65;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75rem;
}

.share-button{
    display: inline-flex;
    margin-top: 2rem ;
    margin-bottom: 1.375rem;
}

.share-button-link{
    text-decoration: none;
    display: flex;
}

.link-element{
    text-align: center;
    line-height: 3rem;
    border-radius: 0.16rem;
    position: relative;

    width: 9.8125rem;
    height: 2.875rem ;
    color: white;
}

.share-facebook{
    display: block;
    margin-right: 0.5rem ;
    background: #305db8;
}

.share-facebook:hover{
    background: #264b96;
}

.fa-facebook{
    position: absolute;
    display: block;
    left: 1.1rem;
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.fa-facebook::after{
    content:'|';
    color: #224387;
    margin-left: 1rem;
}

.share-text{
    position: absolute;
    display: block;
    left: 4rem;
}

.share-google{
    background: #df4a32;
}

.share-google:hover{
    background: #c3412c;
}

.fa-google-plus{
    position: absolute;
    display: inline-block;
    left: 0.8rem;
    line-height: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.fa-google-plus::after{
    content:'|';
    color: #af3a28;
    margin-left: 0.3rem;
    margin-right: 2rem;
}

.form-next{
    display: block;
    text-align: center;
    font-size: 0.55rem ;
    color: #434343;
    margin-bottom: 0.75rem;
}
.form-next::before{
    display: inline-block;
    margin-right: 1.1rem;
    text-align: left;
    content: '';
    border: 0.04rem solid #eaeaea;
    width: 8.5rem;
}

.form-next::after{
    display: inline-block;
    margin-left: 1.1rem;
    text-align: right;
    content: '';
    border: 0.04rem solid #eaeaea;
    width: 8.5rem;
}

.form-registration{
    box-sizing: border-box;
    padding-left: 1rem;
    width: 20rem;
    height: 3rem;
    border: 0.08rem solid #ebebeb;
    border-radius: 0.16rem;
    margin-top:0.625rem ;
    color: rgba(184, 184, 184, 0.64);
}

.form-registration:focus{
    outline: none;
    box-shadow:0 0.4rem 0.3rem 0.1rem rgba(109, 109, 109, 0.4);
    color: #676767;
}

.label{
    user-select: none;
    cursor: pointer;
}

.enter-form{
    display: none;
 }

.enter-form-box{
    display: inline-block;
    margin:1.25rem auto  1.563rem auto;
    width: 1rem;
    height: 1rem;
    color: #329a65;
    border: 0.08rem solid #ebebeb;
    text-align: center;
    line-height:1rem ;
    vertical-align: top;
}

.enter-form-box::before{
    font-size: 0;
    content: 'L';
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    transform: scaleX(-0.9) rotate(-42deg);
}

.enter-form:checked + .enter-form-box::before{
    font-size: 1.2rem;
}

.subenter{
    position:absolute ;
    line-height: 1rem;
    bottom: 4.75rem;
    margin-left: 1rem;
    color: #434343;
}

.form-link-doc{
    text-decoration: none;
    color: #8fd1ac;
    margin-left: 0.5rem;
}

.form-link-doc:hover{
    text-decoration: underline;
}

.form-link:hover{
    color: #329a65;
    text-decoration: underline;
}

.form-button{
    width: 20.125rem;
    height: 3rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 0.16rem;
    background: #3cb878;
    position: center;
    cursor: pointer;
}

.form-button:hover{
    background: #329a65;
}