/*шрифты
.woff
.eot
.ttf
*/
/*@font-face{*/
/*    font-family: MyCompanyFont;*/
/*    src: url(".....goff");*/
/*    url(".....goff")*/
/*}*/

/*иконочные шрифты*/




/*-------------------------------------------*/
body{
    font-size: 100px;
    color: green;
    /*filter: blur(2px);*/
    /*filter: grayscale(100%); с помощью css можно менять цвет картинок */
}


.container{
    background: red;
    font-family: 'Bangers', cursive;
    /*font-weight: 100;*/
    /*font-weight: 900 ;*/
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /*display: inline-block;*/
    float: left;
}

.right{
    margin-left: 10px;
    float: right;
    height: 120px;
}
.clearfix{
    clear: both;
}