@import "../vars";
@import "../mixins";

a {
  text-decoration:  none;
}

.features {
  font-family: $montserrat;
  background-color: #f4f4f4;
  padding: 35px 0 20px;
  overflow: hidden;
}

.features__box {
  width: $width-content;
  margin: $container
}

.title__name {
  font-size: 26px;
  font-weight: $bolt;
  margin: 0 15% 4% 15%;
  line-height: $line-height * 1.5;
}

.features__list,
.title__name {
  text-align: $align;
}

.features__name{
  color: $purpur;
}

.features__item {
  margin-bottom: $m-bottom * 2;
}

.features__image,
.features__item-name {
  margin-bottom: $m-bottom;
}

.features__item-name {
   font-size: 13px;
  line-height: $line-height;
  color: black;
 }

.features__item-text {
  font-size: 11px;
  line-height: 15px;
  color: #848e97;
}

.features__title-image {
  border-radius: 5px;
 max-height: 350px ;
margin-left: 10px;
}

@include width_middle() {
  .features {
    padding: 60px 0 46px;
  }

  .features__box {
    width: 80%;
    margin: $container
  }

  .title__name {
    font-size: 30px;
    margin: 0 15% ;
    line-height: $line-height * 1.5;
  }

  .features__list {
    margin-top: $m-bottom * 3.5;
  }

  .features__item {
    display: flex;
    margin-bottom: $m-bottom * 3;
    text-align: left;
  }

  .features__box-image {
    width: 30%;
  }

  .features__image {
    text-align: center;
  }

  .features__image,
  .features__item-name {
    margin-bottom: $m-bottom / 2;
  }

  .features__item-name {
    font-size: 14px;
  }

  .features__item-text {
    font-size: 13px;
    line-height: 18px;
  }

  .features__title-image {
    min-height: 475px ;
  }
}

@include width_hard() {

  .features {
    padding: 100px 5% 70px;
  }

  .features__box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 50%;
    margin: 0;
  }

  .features__title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;

  }

  .features__name {
    font-size: 40px;
    text-align: left;
  }

  .title__name {
    margin: 0 ;
  }

  .features__list {
    width: 80%;
    margin-top: 0;
  }

  .features__item  {
    margin-bottom: $m-bottom * 2;
  }

  .features__box-image {
    width: 90%;
  }

  .features__title-image {
    position: absolute;
    bottom: 5%;
    left: 100%;
    min-height: 475px;
  }

  .features__title-image:hover {
    background-color: rgba(0, 0, 0, 0.63);
  }
}