
@import "../vars";
@import "../mixins";

a {
  text-decoration:  none;
}

.container-general-box {
  overflow: hidden;
}

.header {
  background: url('../assets/img/testing/imglap.png') top no-repeat;
  font-family: $montserrat;
  text-transform: capitalize;
}

.container {
  @include container-margin();
}

.navbar-section {
  position: relative;
  padding: 29px 0;
  background-color: #27262a;
}

.new-box {
  width: $width-content;
}

.navbar-box {
  @include between();
}

.st1 {
  fill: $purpur;
  width: 45px;
  height: 48px;
  margin-right: 20px;
}

.slogo {
  display: $none;
  font-size: 20px;
  color: $purpur;
  text-transform: uppercase;
}

.burger-box {
}

.burger {
  width: 27px;
  padding: 12px 0;
  cursor: pointer;
  display: block;
  border: $none;
  overflow: hidden;
  position: relative;
}

.burger:focus {
  outline: $none;
}

.burger-line::after,
.burger-line::before,
.burger-line {
  display: block;
  height: 3px;
  background-color: $white;
  width: 100%;
  border-radius: 1px;
}

.burger-line::after,
.burger-line::before {
  position: absolute;
  content: '';
  right: 0;
}

.burger-line::before {
  top: 4px;
  width: 60%;
}

.burger-line::after {
  bottom: 3px;
}

.burger-line::after,
.burger-line::before {
  transition-duration: 0.3s, 0.3s ;
  transition-delay: 0.3s, 0s;
}

.hamburger.burger-line::before {
  transition-property: bottom, transform;
}

.hamburger.burger-line::after {
  transition-property: top, transform;
}

.hamburger .burger-line {
  transition: background-color 0s, 0.3s;
}

.hamburger.is-active .burger-line {
  background: $none;
}

//.hamburger.is-active .burger-line::before {
//  bottom: 0;
//  width: 100%;
//  transform: rotate(-45deg);
//}
//
//.hamburger.is-active .burger-line::after {
//  top: 0;
//  transform: rotate(45deg);
//}

.hamburger.is-active .burger-line::before, .hamburger.is-active .burger-line::after{
  transition-delay: 0s, 0.3s;
}

.navbar-button {
  font-size: 11px;
  font-weight: 700;
  background-color: #81769d;
  text-transform: capitalize;
}

.navbar-button:hover,
.button-title:hover {
 @include hover-btn();
}

.navbar-button,
.button-title {
  font-weight: 700;
  background-color: #81769d;
  text-transform: capitalize;
}
.btn {
  @include btn()
}

.navbar {
  display: $none;
  position: absolute;
  width: 90%;
  top: -150%;
  left: 5%;
  background-color: #333333;
  z-index: 3;
  transition: all 0.5s;
}

.navbar.nav-active{
  display: block;
  top: 99.5%;
  transition: all 0.5s;
}

.list-item {
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #3b3b3b;
}

.link-item {
  display: block;
  color: white;
  padding-left: 20px;
}

.list-item:hover .link-item {
  position: relative;
  left: -1px;
  border-left: 2px solid #8d81ac;
  color: #8d81ac;
}


.header-image {
  @include flex-center();
  position: relative;
  text-align: $align;
  padding: 40px 0 425px;
}

.image-title-name {
  font-size: 35px;
  font-weight: $bolt;
  color: $white;
  margin-bottom: 20px;
}

.image-last-text {
  color: $purpur;
  line-height: $line-height;
}

.image-text {
  text-transform: uppercase;
  color: #4f545c;
  font-size: 11px;
  line-height: $line-height * 2;
}

.image-button {
  position: absolute;
  bottom: -42px;
  right: calc(50% - 115px);
}

.button-title {
  font-size: 16px;
}

.button-text {
  color: #4f545c;
  font-size: 11px;
  line-height: $line-height;
}

@include width_middle() {

  .navbar-section {
    position: relative;
    @include between();
    padding: 29px 0 69px;
  }

.burger-box {
  display: $none;
}

  .icon-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .st1 {
    fill: $purpur;
    width: 45px;
    height: 48px;
    margin-right: 20px;
  }

  .slogo {
    display: unset;
    font-weight: $bolt;
  }

  .navbar {
    font-weight: $bolt;
    display: unset;
    position: absolute;
    width: 90%;
    top:unset;
    bottom: 0;
    left: calc(50% - 220px);
    background-color: unset;
    z-index: 0;
    transition: unset;
    margin-bottom: 20px;
  }

  .list-item {
    padding: 0;
    border: none;
  }

  .link-item {
    color: #8d81ac;
  }

  .list-item:hover .link-item {
    border: 0;
    color: white;
  }

  .navbar-button {
    font-size: 14px;
  }

  .menu-title-list {
    display: flex;
  }

  .image-title-name {
    font-size: 50px;
    margin-top: $m-bottom;
  margin-bottom: $m-bottom * 1.5;
  }

  .image-last-text {
    font-size: 18px;
  }

  .image-text {
font-size: 13px;
  }
}

@include width_hard() {
  .navbar {
    display: flex;
    justify-content: space-around;
    position: unset;
    width: 60%;
    bottom: 0;
    left: unset;
    margin-bottom: 20px;
    margin-left: 190px;
    margin-top: 20px;
  }

  .list-item {
    margin-right: 30px;
  }

  .image-title-name {
    font-size: 60px;
  }

  .image-last-text {
    font-size: 22px;
  }

  .image-text {
    font-size: 15px;
  }

  .navbar-button {
    width: 12%;
  }
}

