@import "../vars";
@import "../mixins";

a {
  text-decoration:  none;
}

.present {
  padding: 120px 0 90px;
  text-align: $align;
  box-sizing: border-box;
  font-family: $montserrat;
}

.present__box {
  width: $width-content;
}

.present__name {
  font-size: 20px;
  font-weight: $bolt;
  text-transform: uppercase;
  color: #635c73;
  margin-bottom: 20px;
}

.present__text {
  font-size: 13px;
  line-height: $line-height;
  color: #6d6d6d;
}

.present__github-buttons {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 15px;
}

.present__button {
  @include between();
  margin-top: 20px;
  margin-right: 10px;
  padding: 0;
  color: #333333;
  text-transform: capitalize;

  border: 1px solid #d5d5d5;
  border-radius: 3px;
  outline: $none;
  overflow: hidden;
  cursor: $cursor;
}

.present__link {
  font-weight: $bolt;
  color:#333333;
  padding: 5px 6px;
  border-right:  1px solid #d5d5d5;
  background-color: #d6d6d6;
  transition:ease 200ms ;
}

.present-link:hover {
  background-color: #f1f1f1;
}

.present__link-text {
  font-size: 11px;
  background-color: white;
  padding: 6px 7px;
}

@include width_middle() {

  .present {
    padding: 160px 0 100px;
  }

  .present__name {
    font-size: 30px;
    margin-bottom: $m-bottom * 2;
  }

  .present__text {
    font-size: 18px;
  }

  .present__github-buttons {
    margin-top: $m-bottom;
  }


}

@include width_hard() {
  .present {
    padding: 130px 0 70px;
  }

  .present__name {
    font-size: 38px;
  }

}


