@import "../vars";
@import "../mixins";

.pricing {
  font-family: $montserrat;
  padding: 65px 0 90px;
  //background-color:  #4b3b4e;
  color: $white;
  background: url("../assets/img/testing/Layer2.png") center no-repeat #4b3b4e;
  background-size: cover;
}


.pricing__box {
  width: $width-content;
}

.pricing__cards {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  margin-top: 45px;
}

.pricing__item {
  width: 90%;
  text-align: $align;
  background-color: #5f5161;
  margin: $container;

}

.card__box {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.card__box:nth-child(3) .pricing__item{
  background-color: #413344;
  width: 100%;
}

.pricing__name {
  font-size: 18px;
  text-transform: uppercase;
  background-color: #685b6a;
  padding: 20%;
  margin-bottom: $m-bottom;
}

.card__box:nth-child(3) .pricing__name{
  background-color: #3a2d3d;
}

  .price {
  font-weight: $bolt;
  font-size: 45px;
  margin-top: $m-bottom / 2;
  margin-bottom: $m-bottom / 2;
}

.card__box:nth-child(3) .price {
    font-size: 55px;
  }

  .light__line {
    display: inline-block;
    padding: 1.5px 30px;
    background-color: #8d81ac;
    margin-bottom: $m-bottom;
  }

  .card__text {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: $m-bottom / 2;
  }

  .pricing__text {
    color: #9a939b;
    margin: $m-bottom 0 ;
  }

  .card__button {
    @include btn();
    font-size: 11px;
    text-transform: uppercase;
    background-color: #776b79 ;
    margin: 40px 0 40px;
  }

  .card__button:hover {
    background-color: #d1ccd1;
  }

  .card__text-once {
    margin-bottom: 34px
  }

  @include width_middle() {
    .pricing__cards {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 50px;
    }

    .card__box {
      position: relative;
      width: 45%;
      margin-bottom: 100px;
    }

    .pricing__item {
      width: 90%;
    }

    .card__box:nth-child(3) .card__button {
      margin: 80px 0 40px;
    }
  }

  @include width_hard() {
    .pricing {
      padding: 65px 0 100px;
    }

    .pricing__cards {
      margin-top: 100px;
      display: flex;
      align-items: center;
    }

    .card__box {
      width: 24%;
      margin-bottom: 100px;
    }

    .pricing__item {
      width: 90%;
    }

    .card__box:nth-child(3){
      width: 26%;
      right: 0;
      bottom: -9%;
    }

    .card__box:nth-child(3) .card__button {
      margin: 80px 0 40px;
    }
  }
