@import "../vars";
@import "../mixins";

a {
  text-decoration:  none;
}

.container {
  margin: $container;
}

.testing {
  padding: 15px 0 ;
  background-color: #4b3b4e;
  text-align: $align;
  color: white;
  font-family: $lato;
}

.testing__box {
  background: url("./assets/img/testing/testmonials.png") center no-repeat;
}

.testing__name {
  color: white;
  font-family: $montserrat;
}

.testing__list {
  font-weight: $bolt;
  font-style: italic;
  padding: 0 15px;
}

.testing__item {
  margin-bottom: 45px;
}

.testing__item-text {
  margin-top: $m-bottom * 1.5;
  line-height: $line-height;
}

.testing__text {
  display: none;
  color: #8b7b8e;
  font-size: 11px;
}

.line__testing {
  display: inline-block;
  border-bottom: 2px solid #645766;
  width: 80%;
}

@include width_middle() {
  .testing {
    padding: 80px 0 ;
  }

  .testing__list {
    display: flex;
    flex-flow: row wrap;
    font-weight: $bolt;
    font-style: italic;
    padding: 0 15px;
    margin-top: 90px;
  }

  .testing__item {
    width: 50%;
    margin-bottom: 45px;
  }

  .testing__item-logo {
    min-height: 64px;
  }

  .testing__logo {
  }

  .testing__text {
    display: block;
    font-size: 13px;
  }

}

@include width_hard () {

  .testing__list {
    margin: 100px auto 0;

  }

  .testing__item {
    width: 26%;
    margin-bottom: 100px;
    margin-right: 100px;
  }

  .testing__item:nth-child(3),
  .testing__item:last-child {
    margin-right: 0;
  }

  .testing__item-text {
    font-size: 13px;
  }

}