html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    /*background: #373737;*/
    padding: 0;
    margin: 0;
}

.container{
    width: 1900px;
    perspective: 0.16rem;
    transform-style: preserve-3d ;
}

.header{
    height: 4.375rem;
    background: #1d2124;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo-header{
    display: flex;
    justify-content: center;
    align-items:center ;
    background: #1a1d20;
    text-decoration: none;
    width: 4.375rem;
}

.form-search{
    display: none;
    box-sizing: border-box;
    height: 100%;
    width: 4.375rem;
    padding: 0 2.625rem 0 1rem;
    border: none;
    border-bottom: 0.16rem solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    z-index: 1;
}

.form-search:focus{
    display: flex;
    width: 10rem;
    bottom-border: 0.16rem solid white;
    z-index: 2;
}

.form-search:before{
    content: '';
    font-family: FontAwesome, sans-serif;
    color: white;
}

.button-search{
    background: #1a1d20;
    border: none;
    width: 4.375rem;
    height: 4.375rem;

    cursor: pointer;
}

.fa-search{
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.subtitle-menu{
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.heading-name{
    font-weight: bold;
    margin-left: 0.4rem;
    font-size: 1.5rem;
}

.main-menu{
    width: 44.375rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.contact-link .cell:not(:first-child){
    margin-left: 2.5rem;
}

.cell-name{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cell:hover{

    background: #1a1d20;
}

.main{
    transform-style: inherit;
    box-sizing: border-box;
}

.main .section:first-child{
    height: 23.375rem;
    width: 100%;
    background-image: url("../image/header-bg.jpeg");
    background-position: 0 62%;
    background-attachment: fixed;
}

.shadow{
    height: 23.375rem;
    background: rgba(89, 89, 89, 0.18);
    display: flex;
    align-items: center;
}

.section:nth-child(1) .capacity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 7.5rem;
    width: 75%;
    margin: 0 auto;
}

.capacity:nth-child(1){
    display: flex;
    font-size: 1.5rem;
}

.button-decoration{
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1.1rem;
    text-align: center;
    width: 10.725rem;
    cursor: pointer;
    color: white;
}

.button-left{
    background: #89ca62;
    margin-right: 1.25rem;
}

.button-right{
    background: #14b9d5;
}

.main .section:nth-child(2){
    height: 64.375rem;
    /*background: #f2f2f2;*/
}

.section:nth-child(2) .capacity{
    width: 64%;
    margin: 0 auto;
    padding:4.375rem 0;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.title-section{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #18b4cf;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.post-collection {
    max-height: 60rem;
    max-width: 100vw;
    display: flex;
    flex-flow: column wrap;
}

.part-collection{
    display: flex;
    flex-direction: column ;
    width: 23.25rem;
    text-decoration: none;
}

.part-collection:hover{
    box-sizing: border-box;
    border: 0.16rem solid rgba(0, 0, 255, 0.2);
}

.post-collection .part-collection:nth-child(1){
    height: 16.25rem;
    margin: 0 1.9rem 4.9rem 0;
    order: 1;
}

.post-collection .part-collection:nth-child(2){
    height: 23.75rem;
    margin: 0 1.9rem 4.9rem 0;
    order: 3;
}

.post-collection .part-collection:nth-child(3){
    height: 18.125rem;
    margin: 0 0 4.9rem 0;
    order: 5;
}

.post-collection .part-collection:nth-child(4){
    height: 16.25rem;
    margin: 0 1.9rem 4.9rem 0;
    order: 2;
}

.post-collection .part-collection:nth-child(5){
    height: 15.4375rem;
    margin: 0 1.9rem 4.9rem 0;
    order: 4;
}

.post-collection .part-collection:nth-child(6){
    height: 23.75rem;
    order: 6;
}

.post-card-link {
    text-decoration: none;
}

.post-card-link:hover{

}

.post-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 1rem 0;
}

.main .section:nth-child(3){
    height: 36.875rem;
    background-image: url("../image/parallax-bg.jpeg") ;
    background-position: 0 28%;
    background-attachment: fixed;
}

.client-information{
    height: 36.875rem;
    background: rgba(90, 90, 90, 0.25);

}

.clients{
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 6rem 0.2rem 9rem ;
    align-content: center;
    width: 64%;
    margin: 0 auto;
    grid-column-gap: 3rem;
    grid-template-areas: ".      one   one  ."
    "two     two   two two"
    "three  four  five  six";
}

.client-title{
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    grid-area: one;

}

.line-light{
    width: 4rem;
    border: 0.2rem solid #169cb4;
    font-size: 0;
    grid-area: two;
    margin-left: 24rem;
}

.clients .logo-client:nth-child(3){
    padding-bottom: 1rem;
    align-self: end;
    grid-area: three;
}

.clients .logo-client:nth-child(4){
    padding-bottom: 0.3rem;
    align-self: end;
    grid-area: four;
}

.clients .logo-client:nth-child(5){
    padding-bottom: 0.7rem;
    align-self: end;
    grid-area: five;
}

.clients .logo-client:nth-child(6){
    align-self: end;
    grid-area: six;
}

.main .section:nth-child(4){
    height: 20.5rem;
    /*background: white;*/
}

.section-image-line{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 12.5rem;
    justify-content: center;
}

.title-section-image-line{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #18b4cf;
    font-weight: bold;
    align-self: center;
}

.section-image-line .title-section-image-line{
    margin-left: 55.3125rem;
}

.image-line{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: end;
}

.main .section:nth-child(5){
    height: 105.25rem;
    /*background: white;*/
}

.section-title-card{
    width: 64%;
    margin:0 auto ;
}

.section-title-card .title-section-image-line{
    text-align: center;
    padding: 3.74rem 0 2.75rem;
}

.card-information{
    display: grid;
    grid-template-rows: 16.25rem 26.25rem 26.25rem 16.25rem;
    grid-template-columns: repeat(4, 17.5rem );
    grid-gap: 2rem;
    justify-content: center;
    grid-template-areas: "one    one   one   two"
    "three  three four  four"
    "five   five  six   six"
    "seven  eight eight eight";
}

.title-card{
    color: #353a3d;
    font-size: 1.1rem;
    font-weight: bold;
}

.card-text{
    color: #5b6469;
    font-size: 0.85rem;
    padding: 1rem 2rem 0 0;
    line-height: 1rem;
}

.card{
    background: #f9f7f7;
}

.card-information .card:nth-of-type(1){
    grid-area: one;
    display: flex;
}

.card:nth-of-type(1) .card-block{
    width: 25rem;
    margin-left: 3rem;
}

.card-information .card:nth-of-type(2){
    grid-area: two;
}

.card:nth-of-type(2) .title-card{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-information .card:nth-of-type(3){
    grid-area: three;
    display: flex;
    flex-direction: column;
}

.card-information .card:nth-of-type(4){
    grid-area: four;
    display: flex;
    flex-direction: column;
}

.card-information .card:nth-of-type(5){
    grid-area: five;
    display: flex;
    flex-direction: column;

}

.card-information .card:nth-of-type(6){
    grid-area: six;
    display: flex;
    flex-direction: column;

}

.card-information .card:nth-of-type(7){
    grid-area: seven;
    display: flex;
    flex-direction: column;
}

.card:nth-of-type(7) .title-card{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.card-information .card:nth-of-type(8){
    grid-area: eight;
    display: flex;
}

.card:nth-of-type(8) .card-block{
    width: 25rem;
    margin-left: 3rem;
}

.card:nth-of-type(3) .card-image {
    width: 100%;
    height: 16.25rem;
}

.card:nth-of-type(4) .card-image {
    width: 100%;
    height: 16.25rem;
}

.card:nth-of-type(5) .card-image {
    width: 100%;
    height: 16.25rem;
}

.card:nth-of-type(6) .card-image {
    width: 100%;
    height: 16.25rem;
}

.card:nth-of-type(2) .card-image{
    width: 100%;
}

.card:nth-of-type(7) .card-image{
    width: 100%;
}

.card-block .title-card{
    text-align: right;
    padding: 2.5rem 2rem 0 0;
}

.card-block .card-text{
    text-align: right;
    padding: 1.5rem 2rem 0 0;
    line-height: 1.4rem;
}

.card-block-center .title-card{
    text-align: right;
    padding: 1.5rem 2rem 0 0;
}

.card-block-center .card-text{
    text-align: right;
    padding: 1.3rem 2rem 0 0;
    line-height: 1.4rem;
}

.footer{
    height: 5rem;
}

.footer-section{
    width: 64%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:40.25rem 1fr 6.875rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: " .  .   ."
    "one .   two"
    ".  .   ."  ;
}

.footer-name{
    grid-area: one;
    color: white;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
}

.footer-logo{
    grid-area: two;
    display: flex;
    align-items: start;
}

.shadow-back .container{
    background-color: #0c0c0c;
}

.shadow-back .button-section button{
    background: pink;
}

/*.ligthed-back{*/
/*    background-color: #f2f2f2;*/
/*}*/

/*.shadow-back .button-right-change{*/
/*    background-color: #89ca62 ;*/
/*}*/