.container {
	max-width: 500px;
}

.post {
	padding: 10px;
	border: 2px solid gray;
	border-radius: 10px;
	color: rgba(0, 0, 0, 0.747);
	box-shadow: 0 0 15px 0 rgb(107, 98, 98);
}

.post:hover {
	background-color: rgba(107, 248, 213, 0.815);
	transform: scale(1.02);
	transition: all ease 0.5s;
}

.post__string {
	border-bottom: 1px solid rgba(0, 255, 149, 0.89);
}
