h1{
    color: black;
}
.title{
    color: green;
}
#mytitle{
    color: blue;
}
* {
    background: yellow;
}
[class*="title"] {
    letter-spacing: 20px;
}
/*includes substring*/
[class="title"] {
    letter-spacing: 20px;
}
/*includes word*/
[class~="title"] {
    letter-spacing: 2px;
}
/*starts with проверка с какого слова начинается класс*/
[class^="title"]{
    background: white;
}
/*заканчивается на последнее слово*/
[class$="huge"]{
    background: red;
}
/*одновременно двум классам*/
.title.huge{
    font-size: 10px;
}
/*обьединять селекторы и иногда добавлять контекстноый селектор*/
h1.title#mytitle[class*="title"]{
}
#email.invalid{
    border-color: red;
}

h2, p {
    color: blue;
}

/*селекторы с иерархией*/
/*все лишки красные которые находятся в контейнере*/
.container li{
    color:red;
}
/*все пушка без подчеркавания которые находятся в контейнере*/
.container p a{
    text-decoration: none;
}
/*это распрастраняется на уровень 1 глубины (дальше не распрастраняется на уровень 2 и далее) */
.container > a{
    text-decoration: line-through;
}
/*поменять высоту шрифта в какомто парашграфе чей ближайший сосед (ашка) у последнегои пометь  (ашка)*/
.container p + a{
    font-size: 20px;
}
/*!*изменить цвет следующему параграфу сразу за ним(сосед)!!*!*/
/*.container p + p!*+ p*!{*/
/*    background: red;*/
/*}*/
/*этот стиль применится ко всем параграфам после первого на этом же уровне*/
.container p ~ p {
    background: red;
}
.paragraph {
    color: red !important;
}

/*тяжелые селекторы*/
/*  0  0        0                 0               0           0   0              0*/
/*     id+imp   cl+imp, attr+imp  tag+imp         important   id  class, attr   tag*/

/*tag---> class----> id ----> important*/

/*1 1 2*/

a.link p#mytitle{

}
/*1 2 1*/
.container#main p[title="abc"]{

}
/*как назвать классы*/
/* стилевой*/
/*описание симантики( контейнер или еще что то) контекстные понимать суть по которой он будет действовать*/


