html{
    font-size: 20px;
}
.container{
    font-size: 30px;
}

.description{
    font-size: 20px;
    /*font-size: 110%;*/
    /*font-size: 1.1em; тоже самое что и процент*/
    /*font-size: 1.1rem; от html по умолчанию*/

    /*width: 100px;*/
    /*width: 1.1em!*ширина конкретно относительно font-size родителя*!;*/
    width: 80vw;/*80% относительно пределов ширины нашей страницы(вью-порта)*/
    height: 80vh;/*80% относительно пределов высоты нашей страницы(вью-порта)*/

}
header, footer{
    height: 30px;
}

main{
    min-height: calc(100vh - 60px);
}