body {
    margin-top:70px ;
    background-color: rgba(37, 31, 145, 0.86);
}

.top-nav{
    position: fixed;
    background-color: #f2f2f2;
    text-align: center;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
}

.tops-button{
    display: none;
    position: fixed;
    right: 40px;
    bottom: 20px;
    z-index: 1;
    background-color: green;
    border: none;
    text-align: center;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
}

.tops-button:hover{
    background-color: rgba(0, 128, 0, 0.67);
}

.menu {
    display: flex;
    margin: 0 700px;
}

.menu li {
    border: 1px solid black;
    margin: 10px;
    list-style-type: none;
}

.opacity_button{
    background-color: #ff67b3;
    color: white;
    border-radius: 10px;
    border: 1px solid #ce11db;
}

.menu a {
    text-decoration: none;
    color: #0D47A1;
}

.section {
    height: 800px;
    box-sizing: border-box;
    color: white;
}

.main .section:nth-child(1){
    background-color: tomato;
}

.main .section:nth-child(2){
    background-color: teal;
}

.main .section:nth-child(3){
    background-color: olive;
}

.main .section:nth-child(4){
    background-color: rosybrown;
}

.main .section:nth-child(5){
    background-color: sandybrown;
}