.cloud {
    /*animation-name: landscape;*/
    /*animation-duration: 120s;*/
    /*animation-iteration-count: infinite;*/

    /*-webkit-animation-name: landscape;*/
    /*-webkit-animation-duration: 120s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    animation: landscape 120s infinite linear;

    -webkit-animation: landscape 120s infinite linear;
}

.cloud-many {
    animation: landscape 100s infinite linear;

    -webkit-animation: landscape 100s infinite linear;
}

.horizont {
    /*animation-name:landscape ;*/
    /*animation-duration: 35s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: linear;*/

    /*-webkit-animation-name:landscape ;*/
    /*-webkit-animation-duration: 35s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-webkit-animation-timing-function: linear;*/
    animation: landscape 35s infinite linear;

    -webkit-animation: landscape 35s infinite linear;
}

.hill {
    /*animation-name: landscape;*/
    /*animation-duration: 20s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: linear;*/

    /*-webkit-animation-name: landscape;*/
    /*-webkit-animation-duration: 20s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-webkit-animation-timing-function: linear;*/
    animation: landscape 25s infinite linear;

    -webkit-animation: landscape 25s infinite linear;

}

.grass {
    animation: landscape 15s infinite linear;
    -webkit-animation: landscape 15s infinite linear;
}

.grass2 {
    animation: landscape 10s infinite linear;
    -webkit-animation: landscape 10s infinite linear;
}

.whell1, .whell2{
    animation: whell 1s infinite linear reverse;
    /*animation-direction: reverse;*/

    -webkit-animation: whell 1s infinite linear reverse;
}

.trailer {
    animation: trailer 0.5s infinite linear alternate;
    -webkit-animation: trailer 0.5s infinite linear alternate;

}