.container, .banner, .cloud, .cloud-many,
.horizont, .hill,.grass, .grass2,
.trailer{
    height: 350px;
    width: 1188px;
    margin: 0 auto;
    padding: 0;
}

.banner{
    height: 350px;
    background-image: url("../image/sky.png");
    background-repeat: no-repeat;
}

.cloud{
    background-image:
            url("../image/kisspng-cloud-sky-desktop-wallpaper-5ae122294d9c69.9065177615247037853179.png");
    background-repeat: repeat-x;
}

.cloud-many {
    background-image: url("../image/kisspng-cloud-sky-desktop-wallpaper.png");
    background-repeat: repeat-x;
}

.horizont{
    background-image: url("../image/kisspng-landscape-panorama-.png");
    background-repeat: repeat-x;
}

.hill {
    background-image: url("../image/hotpn3g.png");
    position: relative;
}

.grass, .grass2{
    background-image: url("../image/hotpngrass.com.png");
    background-repeat: repeat-x;
    position: absolute;
}

.auto, .whell1, .whell2 {
    /*border: thin #000 solid;*/
    position: absolute;
    width: 234px;
    height: 120px;
    bottom: 0;
    left: calc(50% - 117px);
}

.trailer {
    background-image: url("../image/urok-animaciya-avtomobilya-3.png");
    background-repeat: no-repeat;
    width: 233px;
    height: 111px;

    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;

}

[class*="whell"] {
    background-image: url("../image/kisspng-car-tire-code-rim-cartoon-tires-5a93633f0a21b2.2285875515196086390415.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
}

 .whell1 {
   left: 25px;
}

 .whell2 {
     left: 173px;
 }