@import "#src/scss/vars";
@import "#src/scss/mixins";

a {
  text-decoration:  none;
}

.features {
  font-family: $montserrat;
  background-color: #f4f4f4;
  padding: 35px 0 20px;
  overflow: hidden;
}

.features-box {
  width: $width-content;
  margin: $container
}

.title-name {
  font-size: 26px;
  font-weight: $bolt;
  margin: 0 15% 4% 15%;
  line-height: $line-height * 1.5;
}

.features-list,
.title-name {
  text-align: $align;
}

.features-name{
  color: $purpur;
}

.features-item {
  margin-bottom: $m-bottom * 2;
}

.features-image,
.features-item-name {
  margin-bottom: $m-bottom;
}

.features-item-name {
   font-size: 13px;
  line-height: $line-height;
  color: black;
 }

.features-item-text {
  font-size: 11px;
  line-height: 15px;
  color: #848e97;
}

.features-title-image {
  border-radius: 5px;
 max-height: 350px ;
margin-left: 10px;
}

@include width_middle() {
  .features {
    padding: 60px 0 46px;
  }

  .features-box {
    width: 80%;
    margin: $container
  }

  .title-name {
    font-size: 30px;
    margin: 0 15% ;
    line-height: $line-height * 1.5;
  }

  .features-list {
    margin-top: $m-bottom * 3.5;
  }

  .features-item {
    display: flex;
    margin-bottom: $m-bottom * 3;
    text-align: left;
  }

  .features-box-image {
    width: 30%;
  }

  .features-image {
    text-align: center;
  }

  .features-image,
  .features-item-name {
    margin-bottom: $m-bottom / 2;
  }

  .features-item-name {
    font-size: 14px;
  }

  .features-item-text {
    font-size: 13px;
    line-height: 18px;
  }

  .features-title-image {
    min-height: 475px ;
  }
}

@include width_hard() {

  .features {
    padding: 100px 5% 70px;
  }

  .features-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 50%;
    margin: 0;
  }

  .features-title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;

  }

  .features-name {
    font-size: 40px;
    text-align: left;
  }

  .title-name {
    margin: 0 ;
  }

  .features-list {
    width: 80%;
    margin-top: 0;
  }

  .features-item  {
    margin-bottom: $m-bottom * 2;
  }

  .features-box-image {
    width: 90%;
  }

  .features-title-image {
    position: absolute;
    bottom: 5%;
    left: 100%;
    min-height: 475px;
  }

  .features-title-image:hover {
    background-color: rgba(0, 0, 0, 0.63);
  }
}