@import "#src/scss/vars";
@import "#src/scss/mixins";

.pricing {
  font-family: $montserrat;
  padding: 65px 0 90px;
  background-color:  #4b3b4e;
  color: $white;
  background-image: url("../assets/img/testing/Layer2.png");
  background-size: cover;
}

.container {
  margin: $container;
}

.pricing-box {
  width: $width-content;
}

.pricing-cards {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  margin-top: 45px;
}

.pricing-item {
  width: 90%;
  text-align: $align;
  background-color: #5f5161;
  margin: $container;

}

.card-box {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
.card-box:nth-child(3) .pricing-item{
  background-color: #413344;
  width: 100%;
}

.pricing-name {
  font-size: 18px;
  text-transform: uppercase;
  background-color: #685b6a;
  padding: 20%;
  margin-bottom: $m-bottom;
}

.card-box:nth-child(3) .pricing-name{
  background-color: #3a2d3d;
}

.price {
  font-weight: $bolt;
  font-size: 45px;
  margin-top: $m-bottom / 2;
  margin-bottom: $m-bottom / 2;
}

.card-box:nth-child(3) .price {
  font-size: 55px;
}

.light-line {
  display: inline-block;
  padding: 1.5px 30px;
  background-color: #8d81ac;
  margin-bottom: $m-bottom;
}

.card-text {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: $m-bottom / 2;
}

.pricing-text {
  color: #9a939b;
  margin: $m-bottom 0 ;
}

.card-button {
  @include btn();
  font-size: 11px;
  text-transform: uppercase;
  background-color: #776b79 ;
  margin: 40px 0 40px;
}

.card-button:hover {
  background-color: #d1ccd1;
}

.card-text-once {
  margin-bottom: 34px
}

@include width_middle() {
  .pricing-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
  }

  .card-box {
    position: relative;
    width: 45%;
    margin-bottom: 100px;
  }

  .pricing-item {
    width: 90%;
  }

  .card-box:nth-child(3) .card-button {
    margin: 80px 0 40px;
  }
}

@include width_hard() {
  .pricing {
    padding: 105px 0 100px;
  }

  .pricing-cards {
    margin-top: 120px;
    display: flex;
    align-items: center;
  }

  .card-box {
    width: 24%;
    margin-bottom: 100px;
  }

  .pricing-item {
    width: 90%;
  }

  .card-box:nth-child(3){
    width: 26%;
    right: 0;
    bottom: -9%;
  }

  .card-box:nth-child(3) .card-button {
    margin: 80px 0 40px;
  }
}
