body{
    font-family: Arial, sans-serif;

}
.section{
    display: flex;
    justify-content: center;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container{
    margin: 0 auto;
    position: absolute;
    height: 400vh;
    width: 80%;
    bottom: 0;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(20rem) rotateX(30deg);
}

.container:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 60%;
    left: 0;
    right: 0;
    pointer-events: none;
}

.subcontainer {
    color: yellow;
    animation: shack-little 30s cubic-bezier(0.750, 0.180, 0.810, 0.800) -10s infinite ;
    position: absolute;
    top: 100%;
}

.title, .subtitle {
    margin: 4rem 0 4rem 0;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

.text {
    margin: 4rem 0 4rem 0;
    font-size: 4rem;
    line-height: 6rem;
    text-transform: full-width;
    text-align: justify;
}

@keyframes shack-little {
    0% {
        top : 100%;
    }

    100%{
        top: -300%;
    }
}