div {
    opacity: 0.5;
    /*background: rgb(255, 0, 0);*/
    /*background: red;*/
    background: #ff0000;
    /*background: #f00;*/
    /*background: rgba(255,0,0,1);*/
    /*background: hsl(0, 100%, 50%);*/
}

p:first-child {
    opacity: 0.5;
}

div + p {
    opacity: .25;
}