

.window {
    display: none;
    border: 1px solid black;
    position: fixed;
    max-height: 80vh;
    max-width: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
}


.backdrop {
    display: none;
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(120, 130, 128, 0.62);
}
.close {
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    width:15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    position: absolute;
    right: 5px;
    top: 5px;
}

.window:target {
    display: block;
}

.window:target + .backdrop {
    display: block;

}
/*#Lorem {*/
/*    color: red;*/
/*}*/

/*#Lorem:target {*/
/*    font-size: 30px;*/
/*}*/