body {
    height: 200vh;
}

nav  {
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1;
}
nav::after {
    content: '';
    display: block;
    clear: both;
}
button {
    float: right;
    position: relative;
    padding: 0;
    border: 1px solid blue;
}
div {
    display: none;
    position: absolute;
    border: 1px solid red;
    left: -1px;
    top: calc(100% + 2px);
    background: white;
}
button:hover div {
    display: block;
}

.box {
    margin-top: 100px;
    position: sticky;
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    top: 20px;
}

section {
    height: 50px;
    margin-top:80px;
    border: 1px solid red;
    overflow-y: scroll;
}
