body{margin: 0}

.container > *{
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.left, .right{
    width: 200px;
}

.main, .bottom{
    width: 500px;
}

.left, .right, .bottom{
    height: 40px;
}

.main{
    height: 100px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1430px;
}


@media (max-width: 1430px) {
    /*.container{*/
    /*    width: 920px;*/
    /*    flex-wrap: wrap;*/
    /*}*/

    /*.bottom{*/
    /*    margin-left: 210px;*/
    /*    margin-top: 10px;*/
    /*}*/

    .container{
        display: grid;
        width: 920px;
        grid-template-columns: 200px 500px 200px;
        grid-gap: 10px;
        grid-template-areas: "left main right" " . bottom";
    }

    .main{
        grid-area: main;
        /*grid-column: 2;*/
        /*grid-row: 1;*/
    }

    .left{
        grid-area: left;
    }

    .right{
        grid-area: right;
    }

    .bottom{
        grid-area: bottom;
        /*grid-column: 2;*/
    }
}

@media (max-width: 920px) {
    .container{
        /*position: relative;*/
        width: 100%;
        display: block;
    }

    .bottom{
        margin-left: 0;

    }

   .bottom, .main{
        width: calc(100% - 210px);
    }

   .right{
       /*position: absolute;*/
       /*top: 50px;*/
   }

   .left{
       float: left;
   }

   .main{
       float: right;
   }

   .bottom{
       margin-top: 10px;
       float: right;
       clear: right;
   }

   .right{
       float: left;
       margin-top: 10px;
   }
}