 label{
    display: inline-block;
    position: relative;
    margin-top: 14px;
}

 .form-field span{
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
    transition: all 200ms;
    cursor: text;
}

 /*.form-field input:focus + span*/
 .form-field input:valid + span{
     cursor: default;
 }

 .form-field input{
    border: 0;
    border-bottom: 2px solid gray;
    outline: none;
    transition: all 200ms;
}

 .form-field input:focus{
    border-color: blue;
}

.form-field input:focus + span{
    top: -14px;
    font-size: 0.7em;
    color: blue;
}

.form-field input:valid + span{
    top: -14px;
    font-size: 0.7em;
}

.form-field input{
    display: none;
}

.form-field{
    display: inline-block;
    padding: 5px 10px;
    background: #3dc86d;
    font-family: Arial;
}