
label{
    display: inline-block;
    position: relative;
    margin-top: 14px;
}

span{
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
    transition: all 200ms;
}

input{
    border: 0;
    border-bottom: 2px solid gray;
    outline: none;
    transition: all 200ms;
}

input:focus{
    border-color: blue;
}

input:focus + span{
    top: -14px;
    font-size: 0.7em;
    color: blue;
}

input:valid + span{
    top: -14px;
    font-size: 0.7em;
}