.style-bar{
    width: 300px;
    height: 30px;
    border: 3px solid #fff;
    background-color: blue ;

    border-radius: 8px;
overflow:hidden ;
    margin: 50px auto;
    box-shadow: 0px 3px 15px #0D47A1;
}

.bar{
    width: 400px;
    height: 30px;
    background: repeating-linear-gradient(
            45deg, rgba(255, 255, 255, .9) 0,
    rgba(255, 255, 255, 0.9) 5px,
    transparent 5px, transparent 10px);

    animation: loading 1s linear infinite ;

}

@keyframes loading {
 from {
     margin-left: 0;
 }
    50% {
        opacity: 0;
    }

    to {
        margin-left: -100px;
    }
}