div{
    border: 1px solid black;
}
.parent{
    width: 500px;
    height: 500px;
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
    /*align-content: space-around;*/
    /*flex-direction: row;*/
}

.child{
    display: inline-flex;
    list-style: none;
    flex-direction: column;
}


/*.child{*/
/*    width: 200px;*/
/*    height: 100px;*/

/*    !*flex-shrink: 1;*!*/
/*    !*height: 150px;*!*/
/*}*/

/*.child:nth-child(2){*/
/*    width: 150px;*/
/*    height: 200px;*/
/*   !* flex-grow: 1;*!*/
/*   !* flex-shrink: 0;*!*/
/*    }*/

/*.child:nth-child(3) {*/
/*    width: 200px;*/
/*    height: 100px;*/
/*}*/

/*.child:first-child{*/
/*    align-self: flex-start;*/
/*    !*margin-right: auto;*!*/
/*    justify-self:center;*/
/*    order: 1;*/
/*}*/
/*    !*flex-grow: 2;*!*/
/*!*    flex-shrink: 0;*!*/
/*!*}*!*/

/*!*.child:first-child{*!*/
/*!*    width: 800px;*!*/
/*!*flex-grow: 1;*!*/
/*!*}*!*/