body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container-page {
    position: relative;
    background-color: #141515;
    color: white;
}

.header {
    padding: 5px 30px 5px 12px;
    position: relative;
}

.container{
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title-logo {
    background-image: url("../img/logo1.png");
    width: 75px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
}

.hamburger {
    display: inline-block;
    background: transparent;
    border: none;
    padding: 5px ;
    cursor: pointer;
}

.cotleta {
    position: relative;
    vertical-align: middle;
}

.cotleta,
.cotleta::before,
.cotleta::after {
    display: inline-block;
    width: 25px;
    height:3px;
    background-color: #F38A03;
}

.cotleta::before,
.cotleta::after {
    content: '';
    position: absolute;
    left: 0;
}

.cotleta::before{
top: -10px;
}

.cotleta::after{
    top: 10px;
}


.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    padding: 5px;
    transition: 200ms all;
    background-color: #141515;
    opacity: 0;
    z-index: 1;
}

.point {
    padding: 0 5px;
}

.menu:target{
   opacity: 1;
    transform: translateY(0);
    top: 64px;
}

.link-point {
    color: white;
}

.title {
    position: relative;
}

.title::after{
    content: '';
    padding: 32px 132px;
    background-color: #ED1260;
    position: absolute;
    bottom: -64px;
    right: 0;
}

.main-section {
    margin-bottom: 64px;
}

.general-back {
    background-image: url("../img/749bee156a895acf1bbe095757592219-gim.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 40px 0 420px 10px ;
    background-size: 250%;
    margin-bottom: 102px;
}

.box-main {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 12px;
}

.title-name,
.button-link {
    display: inline-block;
    background-color: #141515;
}

.title-name {
    padding: 41px 31px;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
}

.fon {
    margin-top: 14px;
}

.button-link {
    padding: 7px 32px;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.main-text {
    display: inline-flex;
    text-align: left;
    line-height: 20px;
    padding: 0 52px;
    margin-bottom: 30px;
}

.option-block {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
}

.option-point {
    width: 50%;
    padding-bottom: 10px;
}

.option-image {
    padding: 3%;
}

.map {
    box-sizing: border-box;
    border: 3px solid #ED1260;
    padding: 10px;
    text-align: center;
}

.map-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.map-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/c35cfeedbcdfa234ed5b755013e0ed05-map.png");
    width: 128%;
    padding: 79px 0;
}

.location-map {
    position: absolute;
    color: #ED1260;
    width: 10px;
    top: 35%;
    right: 29%;
}

.map-text {
    font-size: 12px;
    line-height: 15px;
    padding-top: 10px;
}

.footer {
    box-sizing: border-box;
    border: 3px solid #F38A03;
}

.footer-box{
    max-width: 62%;
}

.contacts-title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 21px auto;
    text-align: center;
}

.list {
    display: flex;
margin-bottom: 21px;
}

.contact-icon-image {
    width: 25px;
    margin-right: 27px;
    padding: 10px;
}

.contact-name {
    display: none;
}

.contact-item {
   color: white;
    text-align: left;
    line-height: 25px;
}

@media (min-width: 769px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .title-nav {
        width: 50%;
    }

    .menu {
        position: unset;
        right: 0;
        top: 0;
        transform: unset;
        padding: 5px;
        transition: unset;
        background-color: unset;
        z-index: unset;
        opacity: 1;
    }

    .main-section {
        padding:0 10%;
    }

    .general-back {
        background-size: 150%;
    }

    .map {
        width: 65%;
    }

    .map-image {
        padding: 100px 0;
    }

    .location-map {
        top: 33%;
        right: 29%;
    }

    .footer {
        margin: 0 10%;
    }

}
@media (min-width: 1280px) {
    .main-section {
        padding: 0 150px;
    }

    .box-general-back {
        margin-bottom: 40px;
        overflow: hidden;
}

    .general-back {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 450px 0;
        margin-bottom: -100px;
    }

    .title::after{
        content: '';
        height: 347px;
        width: 107px;
        padding: 0;
        background-color: #ED1260;
        position: absolute;
        top: 0;
        right: -107px;
    }

    .main-text{
        margin-bottom: 50px;
    }

    .option-point {
        width: 33%;
    }

    .map {
        width: 70%;
        padding: 20px;
        text-align: center;
        opacity: 1;
    }

    .location-map {
        width: 20px;
        top: 28%;
        right: 30%;
    }

    .map-text {
        font-size: 22px;
        line-height: 27px;
    }

    .footer {
        border: none;
    }

    .footer-box{
        max-width: 70%;
    }

    .contacts-title {
        font-size: 45px;
        margin: 90px auto;
        text-align: left;
        padding-left: 20px;
    }

    .list {
        display: unset;
        text-align: center;
    }

    .contact-icon-image {
        width: 31px;
        margin-right: 0;
            }

    .contacts {
        display: flex;
        justify-content: space-between;
    }

    .contact-name {
        display: unset;
    }

    .contact-item {
        display: block;
    }
}

