@import "scss/vars";
@import "scss/mixins";
//@import "~bootstrap/scss/bootstrap.scss";

header{
  border: $header-border-width solid black;
  border-width: $header-border-width;
}

.col {
  //@include column(3, 5px);
  //@include column($columns, $margin);
  @include column;
}

@media (min-width: 1000px) {
  //$columns: 2;

  .col {
    @include column($columns - 1);
    //width: calc(100%/ #{$columns} - #{$margin * 2});
  }

}

//.header{
//  ul {
//    color : black;
//  }
//
//  li {
//    color: red;
//  }
//}

.header {
  &.active{
    color: black;
  }

  &:hover {
    color: red;
  }
}
