body{
    height: 200vh;
}

nav{
border: 1px solid black;
    /*box-shadow: x y size ;*/
    box-shadow: 0 2px 5px rgba(0 0 0 0.3);
    position: relative;
    z-index: 1;
}

nav::after{
    content: '';
    display: block;
    clear: both;
}

button{
    float: right;
    position: relative;
    padding: 0;
    border: 1px solid blue;
}

div{
    display: none;
    position: absolute;
    border: 1px solid red;
    left: -1px;
    top: calc(100% + 2px);
    background: white;


}

button:hover div{
    display: block;
}

.box{
    margin-top:100px ;
    position: sticky;/*не вылитает из потока и остается на странице упиаясь границей при указании топ и тд*/
    display: inline-block;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    top: 20px;
}

section{
    height: 50px;
    margin-top: 80px;
    border: 1px solid red;
    overflow: scroll;
}





/*    box-sizing: border-box;*/
/*    position: fixed;*/
/*    !*width: 100px;*!*/
/*    !*height: 100px;*!*/
/*    border: 1px solid black;*/
/*    top: 0;*/
/*    left: 0;*/
/*    !*width: 100%;*!*/
/*    !*height: 100%;*!*/
/*bottom: 0;*/
/*    right: 0;*/

















/*div{*/
/*    border: 1px solid black;*/
/*    padding: 20px;*/
/*    margin: 20px;*/

/*}*/
/*.child{*/
/*    margin: 5px;*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*}*/

/*.parent{*/
/*    position: relative;( !*для того чтобы он остался в родителе нужно изменить позишин*!)*/
/*}*/
/*.child:first-child{*/
/*    position: absolute;(!*вилетает с потока первый элемент и уменьшился и стал инлайн-блоком*!)*/
/*    top: 0;*/

    /*position: relative;(!**!)*/
    /*top: 40px;(!* смещение элемента но место за ним останится он начнет налазить *!)*/
    /*bottom: 40px;(!* топ более приорететние*!)*/

    /*!*top;*!*/
    /*bottom;*/
    /*left: ;*/
    /*right: ;*/
/*}*/