label{
    user-select: none;
}

input{
    display: none;
}

span{
    display: inline-block;
    width: 0.68em;
    height: 0.68em;
    border: 2px solid rgba(0, 24, 40, 0.59);
    text-align: center;
    line-height: 0.68em;
    vertical-align: top;
}

span::before{
    font-family: Arial, sans-serif;
    font-size: 0;
    content: 'L';
    vertical-align: top;
    transform: scaleX(-1) rotate(-30deg);
    display: inline-block;
     transition: all 300ms ease-out;
}

 input:checked + span::before{
     font-size: 0.8em;
 }