* {
	box-sizing: border-box;
}

body {
	z-index: 1;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	margin: 0;
	background: #f2f0ed;
	overflow: hidden;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	z-index: 1;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	color: grey;
	transition: color 250ms ease;
}

.text:hover {
	color: #333;
}
.text:hover ~ .hover-container .text-change {
	opacity: 1;
}
.text:hover ~ .hover-container .image-container {
	opacity: 1;
}

.text-change {
	position: absolute;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 30px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	pointer-events: none;
	opacity: 0;
	clip-path: circle(75px at var(--x) var(--y));
	transition: opacity 250ms ease;
}

.image-container {
	z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	opacity: 0;
	transition: opacity 250ms ease;
}

.image-inner {
	position: absolute;
	top: -75px;
	left: -75px;
	width: 150px;
	height: 150px;
	max-width: 100%;
}

.image {
	display: block;
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	filter: brightness(0.9);
}
