p{
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    text-align: center;
}

p::before p::after{
    content: '';
    height: 2px;
    width: calc(50% - 25px);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba( 0, 0, 0, 0.5);
}

p::before{
    left: 0;
}

p::after{
    right: 0;
}
/*p{*/
/*    border: 1px solid black;*/
/*    padding: 10px;*/
/*    width: 400px;*/
/*    text-align: center;*/
/*}*/

/*p::before p::after{*/
/*    content: '';*/
/*    height: 1px;*/
/*    width: 100%*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    background: rgba( 0, 0, 0, 0.5);*/
/*    z-index: -1;*/
/*}*/



/*p::after{*/
/*    right: 0;*/
/*    content: '';*/
/*    width: 40px;*/
/*    height: 100%;*/
/*    background: white;*/
/*    */
/*}*/
