
/*button {*/
/*    display: none;*/
/*}*/

/*@media (min-width: 500px) {*/
/*    button {*/
/*        display: unset;*/
/*    }*/
/*}*/

.humburger {
    --thickness: 3px;

    display: inline-block;
    border: none;
    background: transparent;
    padding: 0 5px;
    background-color: rgba(92, 92, 87, 0.81);
    line-height: 40px;
}

.humburger span {
    position: relative;
    vertical-align: middle;
}

.humburger span,
.humburger span::after,
.humburger span::before {
    display: inline-block;
    width: 30px;
    height: var(--thickness);
    background: black;
}

.humburger span::after,
.humburger span::before {
    content: '';
    position: absolute;
    left: 0;
}

.humburger span::before {
    top: -10px;
}

.humburger span::after {
    bottom: -10px
}

.data-table td:nth-child(2){
    display: none;
}

.navigation {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.34);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.34);
    padding: 10px;
    transform: translateX(-100%);
    transition:  200ms ;
}

.navigation:target {
    transform: translateX(0);
}

.img-container {
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    /*max-width: 500px;*/
}

.products {
    list-style: none;
    padding: 0;
}

.products li {
    width: calc(100% / 3 - 20px - 20px - 2px);
}

@media (min-width: 700px) {
    .humburger {
        display: none;
    }

    .navigation {
        position: unset;
        transform: unset;
        box-shadow: unset;
        border: unset;
        background: red;
        width: 200px;
        height: unset;
    }

    main {
        background: blue;
        flex-grow: 1;
    }

    .navigation ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }

    .wrapper {
        display: flex;
    }

    .data-table td:nth-child(2){
        display: unset;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
}

@media (max-width: 720px) {

    .products li {
        /*box-sizing: border-box;*/
        height: 40px;
        border: 1px solid black;
        background: rgba(57, 6, 54, 0.53);
        margin: 10px;
        padding: 10px;
    }
}