*{
    /*transition-property: all;*/
    transition-property: border-width;
    transition-duration: 100ms;
    transition-delay: 1s;
/*transition-timing-function:cubic-bezier(cubic-bezier(0.12, 0.64, 0.65, 1)) ;*/


    /*animation: ;*/
}


body{
    margin: 0;
}

.parent{
    border: 1px solid black;
    height: 50px;
}

.box{
    width: 50px;
    height: 50px;
    background:blue;

    position:absolute ;

    /*transition:1s 200ms cubic-bezier(0.12, 0.64, 0.65, 1);*/
    /*transition-property:  background-color, transform;*/
    animation-name: shack-little;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    /*animation-fill-mode: backwards;!* приминение стилей первого кадра*! */
    /*animation-fill-mode: forwards;!*оставляет свойства поле выполнение анимации*!*/
    /*animation-fill-mode: both;*/
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    /*animation-fill-mode: forwards;*/
}

.parent:hover .box{
    /*transform: translateX( calc(100vw - 100%)) rotate(180deg);*/
    /*background-color: red;*/

    animation-play-state: running;
    animation-fill-mode: backwards;
}

@keyframes shack-little {
    0% {
        /*transform: translateX(0px);*/
        left: calc(50% - 25px - 100px);
    }

     100% {
        /*transform: translateX(0px);*/
         left: calc(50% - 25px + 100px);
    }

    25%{
        /*transform: translateX(30px);*/
    }

    75%{
        /*transform: translateX(-30px);*/
    }


    /*25%, 75% {*/
    /*    transform: translateX(50px) translateY(10px);*/
    /*}*/
    /*50%, 100% {*/
    /*    transform: translateX(0px);*/
    /*}*/


    /*0% {*/
    /*    */
    /*}*/
    /*20% {*/
    /*    */
    /*} */
    /* 100% {*/
    /*     */
    /* }*/
    /*from{*/
    /*    */
    /*}*/
    /*to{*/
    /*    */
    /*}*/
}