/*.container {*/
/*    background: red;*/
/*}*/
/*.container-fluid {*/
/*    background: blue;*/
/*}*/

/*.trow {*/
/*    display: flex;*/
/*}*/

/*.tcol {*/
/*    flex-grow: 1;*/
/*    box-shadow: inset 0 0 0 1px black;*/
/*    margin: 5px;*/
/*}*/
