<section class=" features">
    <div class="new-box  features-box">
        <div class="features-title">
            <h3 class=" title-name features-name"> &lt;Here is what you get&gt; </h3>

        </div>
        <div class="features-list">
            <div class="features-item">
                <div class="features-box-image">
                    <img src="img/assets/img/features/features1.png" alt="img"
                         class="features-image"></div>
                <div>
                    <h5 class="features-item-name">Creatred to Make The Web Better</h5>
                    <p class="features-item-text">Maecenas eu dictum felis, a dignissim nibh.
                        Mauris rhoncus felis odio,
                        ut volutpat massa placerat ac.
                        Curabitur dapibus iaculis mi gravida luctus.
                        Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="features-item">
                <div class="features-box-image"><img src="img/assets/img/features/features2.png" alt="img"
                                                     class="features-image"></div>
                <div>
                    <h5 class="features-item-name">Incredibly Powerful Tool</h5>
                    <p class="features-item-text">Maecenas eu dictum felis, a dignissim nibh.
                        Mauris rhoncus felis odio,
                        ut volutpat massa placerat ac.
                        Curabitur dapibus iaculis mi gravida luctus.
                        Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="features-item">
                <div class="features-box-image"><img src="img/assets/img/features/features3.png" alt="img"
                                                     class="features-image"></div>
                <div>
                    <h5 class="features-item-name">Experimental Stuff</h5>
                    <p class="features-item-text">Maecenas eu dictum felis, a dignissim nibh.
                        Mauris rhoncus felis odio,
                        ut volutpat massa placerat ac.
                        Curabitur dapibus iaculis mi gravida luctus.
                        Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="features-item">
                <div class="features-box-image"><img src="img/assets/img/features/features4.png" alt="img"
                                                     class="features-image"></div>
                <div>
                    <h5 class="features-item-name">Creatred to Make The Web Better</h5>
                    <p class="features-item-text">Maecenas eu dictum felis, a dignissim nibh.
                        Mauris rhoncus felis odio,
                        ut volutpat massa placerat ac.
                        Curabitur dapibus iaculis mi gravida luctus.
                        Aliquam erat volutpat. </p>
                </div>
            </div>
        </div>
        <img src="./img/assets/img/features/features-bg.png" alt="" class="features-title-image">
    </div>
</section>