<section class=" present">
    <div class="container new-box">
        <div class="present-title">
            <h2 class="present-name">Revolutionary editor</h2>
            <p class="present-text">Aenean cursus imperdiet nisl id fermentum.
                Aliquam pharetra dui laoreet vulputate dignissim.
                Sed id metus id quam auctor molestie eget ut augue.
            </p>
        </div>
        <div class="present-github-buttons">
            <button class="present-button">
                <a href="#" class="present-link"><i class="fa fa-eye" aria-hidden="true"></i>
                    watch
                </a>
                <span class="present-link-text">1,397</span>
            </button>
            <button class="present-button"><a href="#" class="present-link">
                <i class="fa fa-star" aria-hidden="true"></i>
                star
            </a>
                <span class="present-link-text">21,038</span>
            </button>
            <button class="present-button"><a href="#" class="present-link">
                <i class="fa fa-code-fork" aria-hidden="true"></i>
                fork
            </a>
                <span class="present-link-text">4,391</span>
            </button>
        </div>
    </div>
</section>