<section class="pricing">
    <div class="container pricing-box">
        <h3 class="title-name testing-name pricing-name-title">Fork Subscription Pricing</h3>
        <div class="container pricing-cards">
            <div class=" card-box">
                <div class="pricing-item ">
                    <h6 class="pricing-name">Students</h6>
                    <strong class="price">$29</strong>
                    <p class="pricing-text">per month</p>
                    <div class="light-line"></div>
                    <div class="card-box-text card-text-once"><p class="card-text">Personal License</p>
                    </div>
                    <button class="card-button btn">purchase</button>
                </div>
            </div>
            <div class=" card-box">
                <div class="pricing-item  ">
                    <h6 class="pricing-name">professional</h6>
                    <strong class="price">$59</strong>
                    <p class="pricing-text">per month</p>
                    <div class="light-line"></div>
                    <div class="card-box-text"><p class="card-text">Professional License </p>
                        <p class="card-text">Email Support</p>
                    </div>
                    <button class="card-button btn">purchase</button>
                </div>
            </div>
            <div class=" card-box">
                <div class="pricing-item ">
                    <h6 class="pricing-name">agency</h6>
                    <strong class="price">$99</strong>
                    <p class="pricing-text">per month</p>
                    <div class="light-line"></div>
                    <div class="card-box-text">
                        <p class="card-text">1-12 Team Members </p>
                        <p class="card-text">Phone Support </p>
                    </div>
                    <button class="card-button btn">purchase</button>
                </div>
            </div>
            <div class=" card-box">
                <div class="pricing-item ">
                    <h6 class="pricing-name">enterprise</h6>
                    <strong class="price">$159</strong>
                    <p class="pricing-text">per month</p>
                    <div class="light-line"></div>
                    <div class="card-box-text">
                        <p class="card-text">Unlimited Team Members</p>
                        <p class="card-text">24/ 7 Phone Support </p>
                    </div>
                    <button class="card-button btn">purchase</button>
                </div>
            </div>
        </div>
    </div>

</section>