@import "./vars";
@import "~bootstrap/scss/bootstrap-grid.scss";

header {
    border: $header-border-width solid black;
}

.col {
    width: calc(100% / #{$columns} - #{$margin * 2});
}

@media (min-width: 1000px) {
    $columns: 2;
    
    .col {
        width: calc(100% / #{$columns} - #{$margin * 2});
    }
}

