*{
    box-sizing: border-box;/*border and paddiнг делает общим */
}

html{
    font-size: 10px;
}

body{
    font-family: "Montserrat" , sans-serif;
    background-image: url("../images/stamp (1).jpg") ;
    color: #333;
}

p{
    margin: 1.5rem 0;
}

sub{
    font-size: 0.6em;
    vertical-align: super;
}
.section{
    padding: 100px 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.title{
    font-size: 1.57rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin: 2rem 0;
}

.subtitle{
    font-size: 1.21rem;
    text-align: center;
    margin: 1.5rem 0;
}

.title-break{
    margin: 3.57rem auto;
    width: 60px;
    height: 3px;
    background: #ff4b00;
    border: 0;
}

.contact-form{
    float: left;
    width: 50%;
}

.contact-details{
    float: right;
    width: 30%;
}

.clearfix{
    clear: both;
}

.block-title{
    font-size: 1.29rem;
    color: white;
    background: #333;
    padding: 0.86rem 1.43rem ;
    width: 66%;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.highlighted-text{
    margin: 1.5rem;
    color: #ff4b00;
}

.fieldset{
    font-size: 0;/*убираем пробел между input*/
}

.form-control{
    background: transparent;/*прозрачный*/
    border: 1px solid gray;
    padding: 1rem;
    font-style: italic;
    font-size: 1rem;
}

.name-control{
    margin-right: 2rem;
}

.name-control, .email-control{
    width: calc(50% - 1rem);
}

.message{
    margin: 1.5rem 0;
    width: 100%;
    resize: none;/*егунок для расширения окна*/
}

.btn{
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background: #ff4b00;
    border: none;
    width: 8.3rem;
    padding: 1rem 0;
    font-size: 1rem;
    margin-right: 1rem;
}

.contact-item i{
    color: #ff4b00;
    width: 2.4rem;
    text-align: center;
    padding: 0.7rem;
    background: #333;
    display: inline-block;
    margin-right:0.5rem ;
}

.contact-item a{
    text-decoration: none;
}

.contact-item{
    margin-bottom: 0.8rem;
}