/*.with-big-image{*/
/*    width: 500px;*/
/*    height: 300px;*/
/*    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    margin: 0 auto;*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*}*/

body{
    margin: 0;
}

.container{
    box-sizing: border-box;
    perspective: 100px;
    height: 100vh;
    overflow-y: auto;
}

.section{
    display: flex;
    height: 60vh;
    /*border: 1px solid black ;*/
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /*box-shadow: inset 0 0 0 1px black;*/
    /*transform-origin:50% 50% ;*/
}

.section-2{
    background: rgba(0, 0, 255, 0.51);
    transform: translateZ(10px) scale(0.9);
}

.section-3{
    background: rgba(255, 225, 112, 0.51);
    transform: translateZ(-10px) scale(0.8);
}

.section-4{
    background: rgba(255, 209, 81, 0.51);
    transform: translateZ(15px) scale(1.1);
}

.section-1{
    background: rgba(255, 91, 144, 0.51);
    transform: translateZ(20px) scale(1.1);
}

/*.section-3{*/
/*    !*transform: rotate(3deg);*!*/
/*    !*transform-origin: top left;*!*/
/*}*/

