
section {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px 0;
}

h1 {
    font-size: 22px;
    text-transform: uppercase; /*все заглавные*/
}

p {
    color: gray;
    font-size: 17px;
}

hr {
    margin: 50px auto; /*(так лучше)*/
    /*margin-left: calc(50%-27.5px);*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 55px;
    /*border: 1px solid orange;*/
    border: none;
    background-color: orange;
    height: 2px;
}

form {
    border: 0px solid gray; /*solid стиль*/
}

input {

    padding: 25px 20px;
    border: none;
    line-height: 20px;
    width: calc(100% - 140px - 40px);

}

button {
    background-color: orange;
    padding: 25px 10px;
    /*margin: ;*/
    color: white;
    border: none;
    line-height: 20px;
    width: 140px;
}
span{
    color: orange;
}
a{
    color: orange;
    text-decoration: none;
    white-space: nowrap;
}
div{

}
footer{
    max-width: 200px;
    overflow: hidden;/*сокрытие*/
    text-overflow: ellipsis;/*три точки*/
    margin: 0 auto;
}
/*
white-space: nowrap;
max-width/width only block for element
overflow: hidden;
text-overflow: ellipsis;

*/

/*div{*/
/*    vertical-align: top;*/
/*    line-height: 64px;*/
/*    line-height: 32px;*/
/*}*/