body{
    font-family: 'MyriadPro-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.weight-doc{
     width: 1480px;
     margin: 0 auto;
}
.weight-content{
     width: 1280px;
     margin: 80px auto 30px;
 }
.text-big{
      padding: 30px 0;
  }
.logo{
    text-decoration: none;
    color: black;
    font-size: 3em;
}
.general-logo{
    color: #4bcaff;
    text-decoration: none;
}

.menu{
    text-align: center;
    border: none;
    background-color: #35444f;
    padding: 4px 0;
}
.menu-item{
    display: inline-block ;
}
.menu-item-link {display: block;
    color: white;
    text-decoration: none;
    border: none;
    margin: -4px;
    padding: 20px 40px;
}
.menu-item-color-dark:hover{
    background-color: #222f3a ;
    cursor: pointer;
}

.container-left{
    width: 345px;
    margin: 50px 25px 50px 0;
   vertical-align: top;

}
.block-link{
     box-sizing: content-box;
     border: 1px solid #35444f;
     margin: 0 1px;
 }
.block_item{
    height: 80px;
  }
.block-link-text{
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #495863;
    padding: 29px 0 29px 43px;

}
.block-link-color-gray:hover{
    text-align: left ;
    padding-left: 70px;
     color: black;
     background-color: #dbdbdb;
     background-size: 100%;
     cursor: pointer;

 }


.container-right{
    width: 883px;
    margin: 50px 0 50px 25px;
}
 /*.menu-item-left{*/
   /*    border: black;*/
   /*}*/
.background-image{
    max-height: 530px;
    max-width: 883px;
    background: white;
    border: 1px solid #35444f;

}
.image{
    width: 320px;
    padding: 80px 0 80px 279px;

}
.image-big:hover{
    width: 43%;
}

.block-text{
    font-size: 18px;
   text-align: left;
    color: #2c2c2c;
    padding: 30px 30px 0 30px;
}
.string-space{
    margin: 0 0 20px 0;
}

.menu-down{
    /*text-align: left;*/
    background-color: #b4b7ba;

}
.menu-item-down{
    display: inline-block;
    text-align: left;
}
.menu-item-link-down{
    padding: 0 40px;
    display: block;
    text-decoration: none;
    color: #0c1927;
    cursor: pointer;
}
.menu-item-color-blue:hover{
    color: #3181a6;
    text-decoration: underline;
}
.copyright{
    display: inline-block;
    text-align: right;
    padding: 25px 35px;
    color: black;
    margin: 0 0 0 200px;
}
/*.top-menu-bottom-underline{*/
/*background-color: #3181a6;*/
/*    border: none;*/
/*    height: 1px;*/
/*    bottom: 10px;*/
/*}*/