
body{
    font-family: Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

.header{
    height: 100vh;
    background: #15153c;
    color: white;
    padding: 50px 0;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

.header .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

.sub-title{
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0 , 0 , 0.3);
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    align-self: flex-start;
}