// body {
// 	font-size: 30px;

// 	display: flex;
// }

// span {
// 	font-size: 20px;
// 	@media (max-width: 767px) {
// 		font-size: 15px;
// 	}
// }

// div {
// 	font-size: 20px;
// 	@media (max-width: 767px) {
// 		font-size: 20px;
// 	}
// }

body {
	background-image: url(../assets/doctor.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#main {
}

.header {
	min-height: 20vh;
}

.container__filter {
	min-height: 20vh;
	border: 1px solid black;
}

.container__autorization-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.form {
	padding: 10px;
	background-color: rgba(42, 157, 165, 0.603);
	border: 2px solid rgb(28, 94, 114);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__modal {
	display: flex;
	flex-direction: column;
}

.container__card {
	max-width: 230px;
	display: flex;
	justify-content: center;
	color: #fff;
	flex-direction: column;
	background-color: rgba(48, 51, 48, 0.9);
	padding: 2px;
	margin: 10px;
	border: 2px solid rgb(28, 94, 114);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: all 300ms;
}

.container__card:hover {
	background-color: rgb(71, 105, 71);
	max-width: 240px;
}

.container__card--title-line {
	font-weight: 600;
}

.container__card--line {
	margin: 5px;
}

.container__btn {
	display: flex;
	justify-content: space-around;
}

.enter__field {
	min-width: 192px;
	margin: 5px;
}

.field__card {
	display: flex;
	flex-flow: wrap;
	background-color: rgba(0, 0, 0, 0.39);
	border: 1px solid blue;
	min-height: 50vh;
}

.btn {
	display: inline-block;
	margin: 5px;
	border: none;
	border-radius: 5px;
	background-color: rgba(38, 67, 231, 0.938);
	cursor: pointer;
	transition: all 400ms;
}

.btn:hover {
	background-color: rgba(0, 0, 0, 0.677);
	color: rgb(245, 245, 245);
}

.btn__form {
	display: flex;
	justify-content: space-around;
}

.btn__cencel {
	text-transform: uppercase;
	font-weight: 600;
	justify-content: flex-end;
}

.btn__cencel::before {
	content: 'X';
}

.btn__sign {
	text-transform: uppercase;
}

.btn__visit {
	display: none;
	font-size: 24px;
	text-transform: uppercase;
	max-width: 170px;
}

#choice-urgency {
	margin: 5px;
}

.dn {
	display: none;
}
