html {
    box-sizing: border-box;
}

body{

}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
.home-page-body {

}

.main-nav_list li {
    font-size: 16px/1rem/1em;
}

.some-list_item {

}