/*.box {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: green;*/
/*}*/

/*@media (max-width: 400px) {*/
/*    .box {*/
/*        width: 200px;*/
/*        height: 200px;*/
/*        background: red;*/
/*    }*/
/*}*/

/*разные разрешения (768, 800, 992, 1024, 1280, 1366,1400,1600,1920)*/

.container {
    width: 1000px;
}

.header {
color: white;
    background: grey;
    padding: 20px;
    box-sizing: border-box;
}

.main {

}

.footer {
    background: purple;
    padding: 20px;
    box-sizing: border-box;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.col{
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
@media (max-width: 768px) {
    .container {
         width: 100%;
     }
}