/**!*ко всем элементам*!{*/
/*    box-sizing: border-box;*/
/*}*/
/*div{*/
/*    width: 100px;*/
/*    padding: 10px;*/
/*    border: 5px solid black ;*/
/*    margin: 20px;*/
/*    box-sizing: border-box;*/
/*}*/
*{
    box-sizing: border-box;
}
section{
    max-width: 890px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
h1{
    font-size: 22px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;/*все заглавные*/
    margin: 20px 0;
}
/* у блочных марджины(margin) сливаются*/
p{
    color: #333333;
    font-size: 17px;
    text-align: center;
    margin: 20px 0;
}
hr{
    width: 60px;
    height: 3px;
    background: orange ;
    border: none;
    margin: 20px auto;
}
div{
    /*border: 1px solid red;*/
    display: inline-block;
    width: calc(50% - 15px);
    vertical-align: top;
    margin-right: 15px;
}
article{
    /*border: 1px solid red;*/
    display: inline-block;
    width: calc(50% - 15px);
    margin-left: 15px;
}
div a{
    padding: 95px 0 12px 14px;
    display: inline-block;
    width: calc(50% - 10px);
    text-decoration: none;
    background: url("https://lh3.googleusercontent.com/-02-k2W9sMLAXs1he7rUl4c7-lm1iictL8s06o4aY1csj4pK4fOWGLg_6sjYwke1k9Ve=s128") center / cover;
    margin-bottom: 22px;
    /*background-size: cover;!*100%*!*/
    /*background-position: center;*/
    /*border: 1px solid blue;*/
    /*margin: 0 10px;*/

}
div span{
    display: inline-block;
    background: #333;
    color: white;
    padding: 15px 35px 15px 15px;
    /*padding-right: 35px;*/
}
i{
    margin: 10px;}
    /*display: inline-block;*/
    /*width: 20px;*/
     /*    font-size: 0;*/
/*    letter-spacing: 10px;*/
h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
span{
    color: orange;
}
article p{
    text-align: initial;
    line-height: 24px;
}
article a{
    background: orange;
    color: white;
    text-decoration: none;
    padding: 15px 30px ;
    display: inline-block;

}

