.input{
    margin : 5px;
    border-radius : 5px;
    outline: none;
}

.inputGrey {
    border: 3px solid grey;
}

.inputGreen {
    border: 3px solid green;
    color: green;
}

.inputRed {
    border: 3px solid red;
    color: red;
}

.buttonSpan {
    border-radius : 10px;
    border : 1px solid gray;
    line-height : 18px;
    background-color : white;
    vertical-align: middle;
    margin-bottom :3px;
}

.containerForm{
    width : 350px;
    height : 70px;
    text-align : center;
    padding-top : 40px;
    position : absolute;
    top : 50px;
}

.container{
    display: flex;
}

.containerRevers{
    display: flex;
    flex-direction:column-reverse;
}


.span{
    border-radius:  20px;
    line-height : 25px;
    border :1px solid gray;
    padding : 5px;
}

.spanError {
    position : absolute;
    top : 30%;
    border : 3px solid red;
}
