.section{
    font-family: 'MyriadPro-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    background: white;
}

.container{
    /*width: 71.11rem;*/
    margin: 0 auto;
}

.menu-top{
    margin: 2.777rem 0;
}

.title{
    text-align: left;
    font-size: 2.33rem;
    margin: 1.66rem 0;
    cursor: pointer;
}

.title-link{
    text-decoration: none ;
    color: black;
}

.title-light{
    color: #4bcaff;
}

.title-main{
    display: block;
    background: #35444f;
    text-align: center;

}

.menu-item{
    display: inline-block;
    text-align: center;
    padding: 1.1rem 2.2rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.item-change:hover{
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
    background: #222f3a;
}

.menu-item-link{
    color: white;
    text-decoration: none;
}

.main-content{
    margin: 2.77rem 0;
}

.menu-main{
    width: 19.16rem ;
    vertical-align: top;
    border: 0.05rem solid #35444f;
    padding-right: 0.05rem;
    float: left;
}

.menu-list {
    width: 19.16rem ;
    padding: 0.05rem;
    float: left;
}

.list-details-change:hover{
    background: #dbdbdb;
    background-size: 100%;
    color: black;
    padding-left: 3.88rem;
}

.list-details{
     /*padding: 1.61rem 0 1.61rem 2.38rem;*/
    cursor: pointer;
 }

.menu-detail{
    display: block;
    text-decoration: none;
    color: #495863;
    font-size: 0.8rem;
    padding: 1.61rem 0 1.61rem 2.38rem;
}

.content-details{
    width: 49.05rem;
    float: right;
}

.logo{
    display: table-cell;
    overflow: hidden;
    width: 49.05rem;
    height: 29.44rem;
    border: 0.05rem solid #35444f;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 2.77rem;
}

.img-logo{
    width: 17.7rem;
    cursor: pointer;
}

.img-change{
    /*transition: all 1s ease-out;*/
    -moz-transition:all 1s ease-out;
    -o-transition:all 1s ease-out;
    -webkit-transition:all 1s ease-out;
}

.img-change:hover{
    /*transform: scale(1.2);*/
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.content-text{
    margin: 2rem;
    font-size: 0.66rem;
    color: #2c2c2c;
    line-height: 0.88rem;
}

.clearfix{
    clear: both;
}

.menu-item-down{
    display: block;
    background: #b4b7ba;
    padding:0 1.94rem;
}

.menu-end{
    display: inline-block;
    text-align: left;
    float: left;
}

.down-item-decoration{
    display: inline-block;
    padding: 1.1rem 0.875rem;
    font-size: 0.8rem;
}

.down-item-change:hover{
    color: #3181a6;
    text-decoration: underline;
}

.down-item{
    color: #0c1927;
    text-decoration: none;
}
.copyright{
    display: table-cell;
    vertical-align: middle;
    float: right;
    padding: 1.1rem 0;
    color: black;
    font-size: 0.8rem;
}
