
.contacts{
    padding: 30px 0;
}

.contacts .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-block{
    width: 30%;
}

.contact-block:not(:first-child){
    margin-top: 1rem;
}

.contact-block-title{
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0.5rem;
    background: #000;
    white-space: nowrap;/*для не переносимости текста*/
}

.contact-link{
    display: flex;
    /*justify-content: start;*/
}

.contact-link li:not(:first-child){
    margin-left: 8px;
}
