
body{
    margin: 0;
}

.card{
    margin: calc(50vh - 70px) auto 0;
    width: 140px;
    height: 140px;
    background-image: url(https://jooinn.com/images/picture-3.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
}

.wrapper{
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
    transition: all 200ms;
    /*overflow: hidden;*/
}

.title{
    line-height: 120px;
    vertical-align: middle;
    font-size: 1.3em;
    transition: all 200ms;
}

.description {
    font-size: 10px;
    opacity: 0;
}

.btn{
    opacity: 0;
}

.card:hover .title{
    line-height: 1.2em;
    font-size: 1em;
}

.card:hover .description{
    opacity: 1;
}

.card:hover .btn{
    opacity: 1;
}

.card:hover .wrapper{
    display: block;
    background: white;
    border: 1px solid black;
}


/*body {*/
/*    margin: 0;*/
/*}*/

/*.card {*/
/*    margin: calc(50vh - 70px) auto 0;*/
/*    width: 140px;*/
/*    height: 140px;*/
/*    background-image: url(https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    box-sizing: border-box;*/
/*    text-align: center;*/
/*}*/

/*.wrapper {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
/*    background: transparent;*/
/*    transition: all 200ms;*/
/*    overflow: hidden;*/
/*}*/

/*.title {*/
/*    line-height: 120px;*/
/*    vertical-align: middle;*/
/*    font-size: 1.3em;*/
/*    transition: all 200ms;*/
/*}*/

/*.description {*/
/*    font-size: 10px;*/
/*    opacity: 0;*/
/*}*/

/*.btn {*/
/*    opacity: 0;*/
/*}*/

/*.card:hover .title {*/
/*    line-height: 1.2em;*/
/*    font-size: 1em;*/
/*}*/

/*.card:hover .description {*/
/*    opacity: 1;*/
/*}*/

/*.card:hover .btn {*/
/*    opacity: 1;*/
/*}*/

/*.card:hover .wrapper {*/
/*    background: white;*/
/*    border: 1px solid black;*/
/*}*/
