
@mixin container-margin {
  margin: $container;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  border-radius: 20px;
  border: none;
  padding: 12px 24px;
  color: white;
  outline: none;
  cursor: $cursor;
}

@mixin hover-btn {
  color: #8d81ac;
  background-color: $white;
}

@mixin width_middle () {
  @media (min-width: 768px) {
    @content
  }
}

@mixin width_hard () {
  @media (min-width: 1200px) {
    @content
  }
}