$container: 0 auto;
$white: #ffffff;
$none: none;
$montserrat:'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$purpur: #81769d;
$line-height: 22px;
$align: center;
$bolt: 700;
$cursor: pointer;
$m-bottom: 20px;
$width-content: 90%;
$white: white;
