/*@import "style2.css"*/

section{
    /*color: red;*/
    /*  color: rgb(255, 255, 255);*/
    /*color : rgb(0,0,0);*/
    /*color: rgb(255,0,0);*/
    /*color: rgb(#ff0000;);*/
    color: red;
    background-image: url("img/BrDUPIcIgAE3JN3.jpg");
    /*background-size: 100% ;*/
    /*кастыльное решение*/
    /*background-size: cover;*/
    /*background-size: contain;*/
    background-size: 30px;/**/
    background-position: bottom right;/**/
    /*background-position-x:right;*/
    background-repeat: no-repeat;/**/
    background-color: yellow;/**/
    font-size: 30px;/**/
    font-style: italic;/**/
    font-weight: bold;/**/
    text-decoration: line-through;/**/
    text-decoration: underline;/**/
    text-align: justify;/**/
    /*text-indent: 10px;*/
    letter-spacing: 10px;/**/
    word-spacing: 20px;/**/
    word-break: break-all;/**/
    opacity: 0.5;/*прозрачность*/
    border-width: 2px;/**/
    border-style: solid;/**/
    /*border-style: dashed;*/
    border-color: black;/**/
    border-radius: 10px;/*скругление*/
    outline: 2px solid black;/*снаруже от бордера*/
    /*padding: 10px ;/*внутрений отступ (ограничение элемента)*/
    /*padding: 10px 20px;/*верх- низ бока*/
    /*padding: 10px 20px 30px;/*верх бока низ*/
    padding: 10px 20px 30px 40px;/*верх провое низ лево*/
    margin: 10px;

}
a {
    margin: 10px;
}