form{
    display: inline-block;
    border: 1px solid #b4b7ba;
    border-radius:10px;
    margin-left: 80px;

}
button , input{
    border: none;
    background: transparent;
}

svg{
    width: 10px;
}
i{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
}