body{
    /*background: #3181a6;*/
}
.window{
    display: none;
    border: 1px solid black;
    position: fixed;
max-height: 80vh;
    max-width: 50%;
    /*left: 25%;*/
    /*right: 25%;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(111, 111, 111 );
    padding: 10px;
    border-radius: 10px;

}

.backdrop{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(153, 29, 29, 0.76);
}

.close{
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    position: absolute;
    right: 2px;
    top: 2px;
    text-decoration: none;
}

.window:target{
    display: block;
    
}

.window:target + .backdrop{
    display:block ;
    z-index: -1;
}
/*#lorem{*/
/*    color: red;*/
/*}*/

/*#lorem:target{*/
/*    font-size: 30px;*/
/*}*/