[data-tooltip]{
    position: relative;
}

[data-tooltip]::after{
    content: attr(data-tooltip);
    position: absolute;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    /*right: 20px;*/
    left: calc(265% + 15px);
    top: -30%;
    transform: translateY(-50%) scale(0);
    border-radius: 5px;
    white-space: nowrap;
    max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
     transform-origin: 0;
}

[data-tooltip]::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    position: absolute;
    right: -10px;
    top: calc(50% - 5px);
    transform: scale(0);

}
[data-tooltip]:hover::before , [data-tooltip]:hover::after{
    opacity: 0;
    transition: all 200ms;
}
[data-tooltip]:hover::before {
    opacity: 1;
    transform: scale(1);
}
 [data-tooltip]:hover::after{
    opacity: 1;
     transform: translate(-50%) scale(1);
}


