body{
    font-family: 'Arimo', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
}

.subcontainer{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 74.5rem;
    min-height: 46rem;
    background: #3a4965;
    padding: 0.9375rem;
}

.table{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    margin: auto;
    width: 71.25rem;
    height: 42.5rem;
}

.header{
    font-weight: bold;
}

.menu{
     position: relative;
 }
.title-menu{
    display: block;
    position: absolute;
    top: 3.5rem;
    left: calc(50% - 3.6875rem);
    right: calc(50% - 3.6875rem);
}

.header-title{
    display: block;
    position: absolute;
    font-size: 1.5rem;
    top:4.5rem;
    left: calc(50% - 5.5rem);
    right: calc(50% - 5.5rem);
}

.header-border{
    position: relative;
    font-size: 2.5rem;
    padding: 1.75rem;
}

.header-price{
    position: absolute;
    line-height: 1.3rem;
    font-size: 1rem;
    top:1.925rem;
}

.header-price-limit-time{
    font-size: 1rem;
}

.header-cell-name{
    padding: 1.75rem;
    color: white;
}

.header-cell-name:nth-of-type(3){
font-size: 1.4rem;
}

.light{
    background: #89c331;
}

.middle{
    background: #f04a56;
}

.hard{
    background: #20807c;
}

.main{
    font-size: 0.75rem;
}

.fa{
    font-size: 1.2rem;
    color: #848484;
}

.table .main:nth-child(2n){
background: #f2f2f2;
}

.table .main:nth-child(2n+1){
    background: #e3e3e3;
}

.cell-border{
    border: none;
    padding-top: 0rem;
    vertical-align: middle;
}

.footer-space{
    padding: 1.875rem;
}

.button-contact{
    background: #484848;
}

.button-light{
    background: #89c331;
}

.button-middle{
    background: #f04a56;
}

.button-hard{
    background: #20807c;
}

.button-decoration{
    position: relative;
    border:  none;
    color: white;
    text-transform: uppercase;
    width: 12rem;
    height: 3.125rem;
    border-radius: 0.5rem ;
    cursor: pointer;
    overflow: hidden;
}

.button-contact:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #404040;
    height: 0.5rem;
}

.button-light:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #79b027;
    height: 0.5rem;
}

.button-middle:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #df3a46;
    height: 0.5rem;
}

.button-hard:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #16736f;
    height: 0.5rem;
}

.footer .footer-space:nth-child(2n){
    background: #eeeeee;
}

.footer .footer-space:nth-child(2n+1){
    background: #dddddd;
}
.column-decoration{
    box-shadow:0.08rem 0rem 0.05rem 0.01rem rgba(183, 183, 183, 0.4);
}

.footer .button-contact:hover{
    background: #404040;
}

.footer .button-light:hover{
    background: #79b027;
}

.footer .button-middle:hover{
    background: #df3a46;
}

.footer .button-hard:hover{
    background: #16736f;
}