/*grid-template-columns: repeat(3, auto);*/

/*!*grid-template-columns: 100px 100px 100px;*!*/
/*grid-template-rows: minmax(100px, 200px) 2fr 100px ;*/
/*grid-gap:10px;*/
/*grid-column-gap: 20px;*/
/*align-items: center;*/
/*justify-items: center;*/
/*justify-content: right;*/
.container{
    display: grid;
    border: 1px solid gray;
    grid-template-columns: 200px 100px [s] 100px;/*[s] можно вот так переименововать колонки*/
    grid-template-rows: repeat(3, 120px);
    justify-content: center;
    align-content: end ;
    height: 450px;
    grid-gap: 10px;
    grid-template-areas:  "one   one    one"
                          "two   three  three"
                          "two   .      five";
}

.child{
    /*background-color: #b7b7b7;*/
    /*border-radius:6px ;*/
    /*color: white;*/
    /*padding: 20px;*/
}

.child1{
    grid-column-start: s;
    /*grid-column: 1 / -1;*/
    /*grid-row: 1 / 3;*/
    /*grid-area: 1 / 1 / 3/ -1;!*row-start/ column-start / row-end/ column-end*!*/
    /*grid-column: 1 / span 3;*/
    /*grid-column-end: 4;*/
    /*grid-column-end: span 3; варианты*/
    /*grid-column-start: 1 ;*/
    /*grid-column-end: -1;*/
    grid-area: one;
}

.child2{
    grid-area: two;
    /*grid-row: span 2;*/
}

.child3{
    grid-area: three;
    /*grid-column: span 2;*/
}

.child4{
    grid-area: four;
}

.child5{
    grid-area: fife;
}