ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active{
    padding: 20px;
    cursor: pointer;
    background-color:#937341 ;
    color: #23201D;
}

.tabs-text {
    opacity: 1;
    display: block;
    background: white;
}

.hidden{
    display: none;
}

/*.tabs-text.active{*/
/*    !*opacity: 1;*!*/
/*    display: block;*/
/*}*/

.input{
    margin-top: 34px;
    margin-right: 5px;
    border-radius : 5px;
    outline: none;
}

.inputGrey {
    border: 3px solid grey;
}

.inputGreen {
    border: 3px solid green;
    color: green;
}

.inputRed {
    border: 3px solid red;
    color: red;
}

.buttonSpan {
    border-radius : 10px;
    border : none;
    line-height : 18px;
    background-color : #937341;
    vertical-align: middle;
    margin-bottom :3px;
    margin-left: 5px;
    cursor: pointer;
}

.containerForm{
    /*width : 350px;*/
    /*height : 70px;*/
    /*text-align : center;*/
    /*padding-top : 40px;*/
    /*position : absolute;*/
    /*top : 50px;*/
    display: flex;
    flex-flow: column-reverse;
}

.container{
    display: flex;
}

.containerRevers{
    display: flex;
    /*flex-direction:column-reverse;*/
}


.span{
    border-radius:  20px;
    line-height : 25px;
    border :1px solid gray;
    padding : 5px;
}

.spanError {
    position : absolute;
    top : 30%;
    border : 3px solid red;
}

.show{
    display: block;
}

.hide {
    display: none;
}

.textarea{
    border-radius: 6px;
    border: 3px solid grey;
    margin-right: 5px;
    margin-top: 10px;
}
