

@mixin form_humburger () {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  vertical-align: middle;
}

@mixin flex_start () {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

@mixin flex_center () {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title_uppercase () {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
}

@mixin width_middle () {
  @media (min-width: 769px) {
    @content
  }
}

@mixin width_hard () {
  @media (min-width: 1200px) {
    @content
  }
}