@import "../scss/var";
@import "mixin";
@import "../scss/media";


a {
  text-decoration: none;
}

.container-homework {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  box-sizing: border-box;
}

.header {
  position: relative;
  margin-bottom: 38px;
}

.container {
  padding: $container-padding;
}

.box-center {
  margin: $margin-auto;
}

.header-humburger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 23px 0;
}

.humburger {
  position: relative;
  width: 44px;
  height: 37px;
  padding: 9px 13px;
  background-color: black;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.humburger:focus {
  outline: none;
}

.cotlet::before,
.cotlet::after,
.cotlet {
 @include form_humburger ();
}

.cotlet::after,
.cotlet::before {
  content: '';
  position: absolute;
  left: 0;
}

.cotlet {
position: relative;
  vertical-align: middle;
}

.cotlet::after {
  top: 6px;
}

.cotlet::before {
  bottom: 6px;
}

.cotlet::after,
.cotlet::before {
  transition-duration: 0.3s, 0.3s ;
  transition-delay: 0.3s, 0s;
}

.hamburger-line.cotlet::before {
  transition-property: bottom, transform;
}

.hamburger-line.cotlet::after {
  transition-property: top, transform;
}

.hamburger-line .cotlet {
  transition: background-color 0s, 0.3s;
}

.hamburger-line.is-active .cotlet {
  background: none;
}

.hamburger-line.is-active .cotlet::before {
  bottom: 0;
  transform: rotate(-45deg);
}

.hamburger-line.is-active .cotlet::after {
  top: 0;
  transform: rotate(45deg);
}

.hamburger-line.is-active .cotlet::before, .hamburger-line.is-active .cotlet::after{
  transition-delay: 0s, 0.3s;
}

.close-humburger {
  font-size: 20px;
  color: white;
  width: 17px;
}

//.hidden {
//  display: none;
//}

.header-list {
  position: relative;
}

.list-title {
  display: none;
  position: absolute;
  right: -100%;
  top: -23px;
  width: 30%;
  background-color: white;
  transition: all 0.5s;
  opacity: 0;
}

.list-title.nav-active{
  display: unset;
  right: 0;
  opacity: 1;
}

.list-item {
border-bottom:2px solid #F5F5F5;
}

.list-item-link {
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
color: #4E4E4E;
}

.list-item-link:hover {
  color: #57A4A4;
}

.header-image {
  padding: 25%;
  background-image: url("../assets/img/intro-img 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.posts-content{
  margin-bottom: $margin-bottom * 3;
}

.main-content {
  margin-bottom: $margin-bottom * 1.85;
}

.title-main-content {
 @include  title_uppercase ();
  color: #4E4E4E;
  margin-bottom: $margin-bottom;
}

.post {
  @include flex_start ();
  margin-bottom: 28px;
}

.post:nth-child(4) {
  display: none;
}

.image-post {
  width: 50%;
}

.post-title {
  font-size: 14px;
  line-height: 30px;
  color: #4E4E4E;
}

.post-comment {
  font-size: 11px;
  line-height: 20px;
  color: #7C7C7C;
}

.post-text {
  display: none;
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
}

.image-section-way {
  font-size: 13px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
}

.image-cards{
 display: flex;
  justify-content: space-between;
}

.card{
  width: 90%;
}

.card:first-child {
  display: block;
}

.card:nth-child(2),.card:nth-child(3),.card:nth-child(4){
  display: none;
}

.footer {
  display: flex;
  flex-flow: column;
  text-align: center;
  background: black;
  color: white;
}

.footer-section {
  margin: 38px 0 47px;
}

.footer-title {
  @include  title_uppercase ();
  margin-bottom: $margin-bottom / 3;
}

.footer-text {
  font-size: 12px;
  line-height: 20px;
  color: #B9B9B9;
  margin-bottom: $margin-bottom;
}

.footer-icons {
  @include flex_center ();
  flex-flow: row;
  margin-bottom: $margin-bottom;
}

.icon-border {
  @include flex_center ();
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 5px;
}
.fa-rss {
  color: #F8902E;
}

.fa-facebook {
  color: #39599F;
}

.twitter-icon {
  font-weight: bold;
  color: #45B0E3;
}

.fa-dribbble {
  color: #D97AB0;
}

.fa-pinterest-p {
  color: #CC212C;
}

.rss {
  border: 2px solid #F8902E;
}

.facebook {
  border: 2px solid #39599F;
}

.twitter {
  border: 2px solid #45B0E3;
}

.dribbble {
  border: 2px solid #D97AB0;
}

.pinterest {
  border: 2px solid #CC212C;
}

.footer-contact {
  width: 70%;
}

.footer-contact-text{
  font-size: 14px;
  line-height: 24px;
  color: #B9B9B9;
}

@include width_middle {

  .container {
    padding: $container-padding-middle;
  }

  .header-humburger {
    display: none;
  }

  .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;
    width: 80%;
    background-color: white;
    opacity: unset;
    margin: $margin-auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .list-item {
    border: none;
  }

  .list-item-link {
    color: #57A4A4;
  }

  .header-image {
    padding: 180px 0;

  }

  .posts {
    width: 75%;
  }

  .post {
    display: flex;
    flex-flow: row ;
    margin-bottom: 32px;
  }

  .post:nth-child(4) {
    display: flex;
  }

  .image-post {
    width: 33%;
    margin-right: 20px;
  }

  .image-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .image-section-way{
    margin-bottom: 26px;
  }

  .post-title {
    font-size: 16px;
  }

  .post-comment {
    font-size: 12px;
  }

  .post-text {
    display: block;
  }

  .card {
    width: 32%;
  }

  .card-item {
    width: 100%;
  }

  .card:nth-child(2),.card:nth-child(3){
    display: block;
  }

  .footer-text {
  font-size: 16px;
  }
}

@include width_hard {

  .header-image {
    padding: 275px 0;
  }

  .image-post {
    width: 33%;
    margin-right: 20px;
  }


  .image-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .posts {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    min-height: 370px;
    max-height: 450px;
  }

  .post {
    width: 50%;
  }

  .card {
    width: 24%;
  }

  .card:nth-child(4){
  display: unset;
}
}