.balloon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("https://lh3.googleusercontent.com/proxy/GAgZuy5MU_OPtg-g8_gHqcUcVVLs-Po_dp4AD80NEFnCUPM_xYmjh-IkM0gpP06t1S2FjPko_1Joo8MHltLEpMGnRQeM94v5_5qayKzO78N_OWud47SFJVNFSdjfF6Exv8aoiES42w");
    background-position: -40px -124px;
    border: 1px solid black;
    background-size: 1024px;

}