#test {
    width: 600px;
    height: 100px;
    background-color: yellow ;
    margin: 50px;
    position: relative;
}

#test2 {
    width: 10px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 290px;
}