

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-BoldItalic.eot');
    src: local('../fonts/Arimo Bold Italic'), local('Arimo-BoldItalic'),
    url('../fonts/Arimo-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-BoldItalic.woff') format('woff'),
    url('../fonts/Arimo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.eot');
    src: local('../fonts/Arimo Bold'), local('Arimo-Bold'),
    url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Italic.eot');
    src: local('../fonts/Arimo Italic'), local('Arimo-Italic'),
    url('../fonts/Arimo-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Italic.woff') format('woff'),
    url('../fonts/Arimo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo.eot');
    src: local('../fonts/Arimo'),
    url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo.woff') format('woff'),
    url('../fonts/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container > *{
    font-family: Arimo, sans-serif;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;

}

.subcontainer{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 74.5rem;
    min-height: 41.25rem;
    background: #3a4965;
    padding: 0.9375rem;
    box-sizing: border-box;
}

.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    width: 71.25rem;
    height: 38.125rem;
    overflow: hidden;
}

.header{
    font-weight: bold;
    vertical-align: middle;

}

.title-heading{
    height: 6.875rem;
    vertical-align: middle;
}

.title-main{
    display: block;
    font-size: 0.625rem;
    line-height: 2rem;
}

.subtitle{
 display: block;
}

.title{
    vertical-align: middle;
    line-height: 2rem;
    box-shadow: 0.4rem 0rem 0.5rem 0.03rem rgba(129, 129, 129, 0.74);
}

.title:nth-of-type(2n){
    background: #e3e3e3;
    width: 9.83rem;
}

.title:nth-of-type(2n+1) {
    background: #f2f2f2;
    width: 9.83rem;
}

.light{
    width: 12.3125rem;
}

.light .cell:nth-of-type(1){
    background: #89c331;
    color: white;
    font-weight: bold;
}

.middle .cell:nth-of-type(1){
    background: #f04a56;
    color: white;
    font-weight: bold;
}

.hard .cell:nth-of-type(1){
    background: #20807c;
    color: white;
    font-weight: bold;
}

.cell{
    font-size: 0.75rem;
    vertical-align: middle;
    line-height: 1.2rem;
    color: #848484;
    box-shadow: 0.4rem 0rem 0.5rem 0.03rem rgba(129, 129, 129, 0.74);
    border-collapse: separate;
}

.fa{
    display: block;
    font-size: 1.2rem;
    color: #848484;
}

.cell:nth-of-type(2n){
    background: #e3e3e3;
}

.cell:nth-of-type(2n+1){
    background: #f2f2f2;
}

.first-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10.625rem;
    align-items: center;
}

.first-column-cell{
    font-size: 1.1rem ;
}


.price-big{
    font-size: 1.3rem;
}

.price{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.header-price{
   align-self: start;
    line-height: 0.9rem;
}

.header-price-limit-time{
    align-self: end;
    line-height: 1.8rem;
}

.button{
    position: relative;
    background: #484848;
    width: 9rem;
    height:2.5rem ;
    border:  none;
    color: white;
    border-radius: 0.5rem ;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
}

.button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #404040;
    height: 0.3125rem;
}



