
 .menu-main{
      list-style: none;
      margin: 20px ;

  }
 .column{
     display: inline-block;
     margin: 20px 0px 30px;
     align-content: center;
 }
 a {
     padding: 5px;
     margin: 25px;
     color: #16a085;
     font-family: "Roboto Black";
     text-align:center;
 }
 p{ padding: 5px}
p {
font-family:"Roboto Black";
    text-align:center;
}
h1{
    font-family: "Roboto Black";
    text-align:center;
}
 h4{
     font-family: "Roboto Black";
     text-align: right;
 }
html{
    width: 1280px;
}
.background-white-gray{
    background-color: #f5f6f7;
    width: 1280px;
}
.background-white {
    background-color: #ffffff;
}
.text-bolt{
    font-weight: bold;
}
 .text-gray{
     color: #373737;
 }
 .text-white{
     color: white;
 }
 .text-big {
     font-size: 16px;
 }
 .text-easy {
     font-size: 16px;
 }
 .text-middle {
     font-size: 15px;
 }
.button {
    font-family: "Roboto Black";
    background-color: #16a085;
    color: white;
    border: none;
    border-radius: 4px;
    padding:  20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 30px 0px 100px;
}
.down{
    margin: 30px 50px;
}