.section{
      /*font-family: 'Varela Round', sans-serif;*/
      font-family: 'Varela', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-image:  url("../image/back.jpg");/*<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 125" style="enable-background:new 0 0 100 125;" xml:space="preserve">
<path class="st0" d="M95.3,46.4l-1.9-11.8l-1.9,11.8h0v8.3l-1.7-1.4v-6.9h0l-1.9-11.8l-1.9,11.8h0v3.9l-8.1-6.6V33.3h0l-1.9-11.8
	l-1.9,11.8h0v7.3l-8.9-7.3V19.9h0L63.6,8.2l-1.9,11.8h0v10.4L60,28.9v-9h0L58.2,8.2l-1.9,11.8h0v6l-6.1-5l-6.8,5.5v-6.5h0L41.6,8.2
	l-1.9,11.8h0v9.6l-1.7,1.4V19.9h0L36.2,8.2l-1.9,11.8h0v14L25.6,41v-7.8h0l-1.9-11.8l-1.9,11.8h0v10.8l-7.6,6.2v-3.9h0l-1.9-11.8
	l-1.9,11.8h0v6.9l-1.7,1.4v-8.3h0L7,34.6L5.1,46.4h0v11v15.2v20h14.6v-8.3c0-2.2,1.8-4,4-4c2.2,0,4,1.8,4,4l0,0v8.3h14.4V76.8l0,0
	c0-4.2,3.4-7.6,7.6-7.6c4.2,0,7.6,3.4,7.6,7.6h0v15.7h14.9v-8.3c0-2.2,1.8-4,4-4c2.2,0,4,1.8,4,4v8.3h15.1v-20V57.4L95.3,46.4
	L95.3,46.4z M26.9,74.1h-6.3v-6.6c0-1.7,1.4-3.2,3.2-3.2s3.2,1.4,3.2,3.2l0,0C26.9,67.6,26.9,74.1,26.9,74.1z M26.9,59.7h-6.3v-6.6
	c0-1.7,1.4-3.2,3.2-3.2s3.2,1.4,3.2,3.2l0,0C26.9,53.1,26.9,59.7,26.9,59.7z M39,50.5h-5.5v-5.8c0-1.5,1.1-3.4,2.8-4.7
	c1.6,1.2,2.8,3.1,2.8,4.7C39,44.8,39,50.5,39,50.5z M53.7,62.3h-8V54c0-2.2,1.8-4,4-4c2.2,0,4,1.8,4,4L53.7,62.3L53.7,62.3z
	 M53.7,43.4h-8v-8.3c0-2.2,1.6-5,4-6.7c2.4,1.8,4,4.5,4,6.7L53.7,43.4L53.7,43.4z M66.4,50.5h-5.5v-5.8c0-1.5,1.1-3.4,2.8-4.7
	c1.6,1.2,2.8,3.1,2.8,4.7L66.4,50.5L66.4,50.5z M79.4,74.1h-6.3v-6.6c0-1.7,1.4-3.2,3.2-3.2s3.2,1.4,3.2,3.2
	C79.4,67.6,79.4,74.1,79.4,74.1z M79.4,59.7h-6.3v-6.6c0-1.7,1.4-3.2,3.2-3.2s3.2,1.4,3.2,3.2C79.4,53.1,79.4,59.7,79.4,59.7z"/>
</svg>*//*path{
fill: red;
}*/
    /*body{*/
    /*    background-image: url("../image/back.jpg");*/
    /*    background-size: cover;*//*background-attachment: fixed;*/
    /*    */
    /*}*/
    /*.section{*/
    /*    overflow-y: auto;*/
    /*}*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    /*width: 1366px;*/
   min-height: 100vh;
}

.container{
    max-width: 66.5rem;
    height: 48rem;
    padding: 3.0625rem 0;
    margin: 0 auto;
}

.header{
    margin: 3.0625rem 0 2.8125rem;
}

.title-logo{
    float: left;
}

.image-logo{
    display: block;
    padding: 0 1rem 0 0 ;

}
.title-text{
    float: left;
}

.title-logo:hover .image-logo{
    filter: invert(54%) sepia(53%) saturate(3518%) hue-rotate(1deg) brightness(99%) contrast(85%);
}

.title{
    text-transform: uppercase;
    font-size: 1.5rem ;
    text-decoration: none;
    margin-bottom: 0.3rem;
}

.subtitle{
    text-transform: uppercase;
    font-size: 0.9375rem;
    margin-top: 0.3895rem;
    text-decoration: none;
}

.title-link{
    font-weight: bold;
    color: white;
    line-height: 1.62rem;
}

.title-logo:hover .title-link{
    color: #f26522;
}

.contact-info{
    float: right;
}

.header-contact{
    display: block;
    text-align: right;
    line-height: 1.62rem;
    color: white;
}

.contact-info:hover .contact-link{
    color: #f26522;
}

.clearfix{
    clear: both;
}

.image-content-link{
    width: 66.5rem;
}

.card-image {
    width: 19.26rem;
    height: 12.5625rem;
    border: 0.15rem solid transparent;
    border-image: linear-gradient(to bottom, white 0%, black 100%) 1;
}

.card-main{
    margin-left: 4.0625rem;
}

.card{
    box-sizing: border-box;
    display: block;
    width: 19.25rem;
    height: 12.5625rem;
    float: left;
    box-shadow: 0.05rem 0.05rem 1rem 1rem rgba(0, 0, 0, 0.67);
    margin-bottom: 6rem;
}

.wrapper{
    box-sizing: border-box;
    display: block;
    position: relative;
    bottom:4.329rem;
    width: 19.57rem;
    height: 4.125rem;
    text-decoration: none;
    color: white;
    padding:10px;
    background: transparent;
    transition: all 200ms;
    overflow: hidden;
}

.image-content{
    top: 4rem;
    opacity: 0;
    line-height: 10px;
    transition: all 200ms;
}

.description-item{
    float: left;
}

.description-items{
    font-size: 0.65rem;
    float: right;
}

.description{
    line-height: 1.3rem;
    font-size: 0.525rem;
    text-align: left;
    vertical-align: bottom;
    opacity: 0;
}

.detail-item::after{
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
    content: ">";
    color: #f9b291;
    padding-bottom: 0.1rem;
    vertical-align: middle;
    transform: scaleX(1.1) rotate(deg);
    margin: 0 0.2rem 0 1rem;
}

.btn{
    display: block;
    text-align: center;
    position: relative;
    bottom: 3.82rem;
    color: white;
    text-decoration: none;

}
 .card:hover{
     cursor: pointer;
 }

.card:hover .image-content{
    opacity: 1;
}

.card:hover .description{
    opacity: 1;
}

.card:hover .btn{
    color: #f26522;
}

.card:hover .wrapper{
    line-height: 7.5rem;
    background: #f26522;
    height: 33%;
    transition: all 0.5s;
    transform: scale(1.0);
}

.copyright{
    font-size: 0.65rem;
    margin-top: 0.1875rem;
    text-align: center;
}

