.todos {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
}

.todo {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
}
.todo-completed {
  text-decoration: line-through;
}