table{
    --brdr-color: gray;/*css переменная*/
    --brdr: 0.5px solid var(--brdr-color);
    --bg: #ebebeb;

    /*border: var(--brdr-color);*/
    font-size: 2em;
    background: var(--bg);
    border-spacing: 0px;

    /*border-spacing: 10px; отвечает за растояние между ячейками*/
    /*border-collapse:collapse ;*/
    width: 100%;
    position: relative;
}

tr{
    box-shadow: 0 0 0.5px 0 rgba( 0, 0, 0, 0.4);
}

th, td{
    border:  var(--brdr);
    padding: 4px;
}


th{
    position: sticky;
    top: 0;
    background: var(--bg);

}

thead tr{
    height: 46px;
}

thead tr:nth-child(2) th{
    top: 46px;
}

thead tr:nth-child(2) th,
thead tr:first-child th:first-child,
thead tr:first-child th:last-child{
    box-shadow: 0px 5px 3px -1px rgba(0,0,0, 0.4);
}

td{
    min-width: 400px;
 }

.table-wrapper{
    overflow: auto;
    max-height: 400px;
}


tr:first-child th:first-child,
td:first-child,
tr:first-child th:last-child,
td:last-child{
    background:var(--bg);
    position: sticky;
    left: 0;
}

tr:first-child th:last-child,
 td:last-child{
     right: 0;
     left: initial;
 }

tr:first-child th:first-child, tr:first-child th:last-child, tfoot td:first-child{
    z-index: 1;
}

tfoot td{
    position: sticky;
    bottom: 0;
    background: var(--bg);
}

td:nth-child(2){
background-image: linear-gradient(to right , rgba(0 0 0 0.5) 10% );
}

/*button{ вариант  1*/
/*    width: 200px;*/
/*    padding: 10px 0;*/
/*    border: none;*/
/*    border-radius: 8px ;*/
/*    background:#89c331 ;*/
/*    color: white;*/
/*    border-bottom: 7px solid #2DC30B;*/
/*}*/

button{
    width: 200px;
    padding: 10px 0;
    border: none;
    border-radius: 8px ;
    background:#89c331 ;
    color: white;
    /*box-shadow: inset 0 7px 0 0 #22c316;*/
    position: relative;
    overflow: hidden;
}

button:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #22c316;
    height: 10px;
}