p::selection{
    background: yellow;/*при выделении показывает цвет*/
}

p::first-letter{
     background: green;/*первая буква*/
 }

p::first-line{
    background: blue;/*первая строка*/
}

p::first-letter{
    background: green;/*первая буква*/
}

input::placeholder{
    color: blue;/* меняет цвет в поле инпут*/
}

input:hover{
     border: 1px solid green;
 }

input:focus{
    outline: none;
    border: 1px solid #73dc08;
}

/*
:link
:visited
:active
*/
a:link{
    color: red;
}

a:visited{
    color: #ffc211;
}

a:active{
    text-decoration: line-through;
}

/*body:first-child{*/
/*    background: black;*/
/*    text-shadow: 1px 1px 2px #000;*/
/*!*    <a><span> для первого дочернего элемента*!*/
/*}*/

/*body .link:first-of-type{*/
/*    background: rgba(0, 0, 0, 0.4);*/
/*!*    применяется к первому элементу в данном случае body(родителя)*!*/
/*}*/



/*li:first-child  li:last-child  часто использованые */
:nth-child(3n-1/*2n четные 2n-1 или +1 или even это не четные*/){
    background: rgba(0, 0, 0, 0.4);
}
/*:nth-last-of-type()*/
/*:last-child*/
/*:last-of-type*/
/*:nth-last-child()*/
/*:nth-last-of-type()*/


li:first-child::before{
/*span{*/
    content: '' ;
    display: inline-block;
    background: darkblue;/*вставим картинку типа от диза*/
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
 }

li:first-child::after/*before первый символ контента after после контента(элемента)*/{
     content: '222';
    color: red;
 }

input:disabled{
    background: gray;
}

input:required{
    font-size: 30px;
}

input:checked{
    transform: scale(2);
}
/*:empty пустой элемент надо почитать */
