/*#test {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background-color: orange;*/
/*}*/

#box{
    width: 100px;
    height: 100px;
    background: green;
}

.day {
    color: white;
    background-color: black;
}

.night{
    color: black;
    background-color: white;
}

.hello-dos {
    color: white;
    background-color: blue;
}