
body{
    font-size: 0;
}
input{
    display: none;
    /*opacity: 0;!*розрачность*!*/
    /*visibility: hidden;!*убирает но оставляет за собой место*!*/
}

span{
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    /*border: 1px solid blue;*/
    font-family: Arial, sans-serif;
    /*border-radius: 4px;*/
    user-select: none;
    cursor: pointer;/*рука при наведении*/
    background: rgba(0, 187, 236, 0.98);
}
input:checked + span{
     background: blue;
     color: white;
 }
labal{
    float: left;
}
label:first-child span{
       /*border-top-radius-left: 4px;*/
       /*border-bottom-left-radius: 4px;*/
       border-radius: 4px 0 0 4px;
   }
label:last-child span{
    /*border-top-radius-right: 4px;*/
    /*border-bottom-right-radius: 4px;*/
    border-radius: 0 4px 4px 0;
}
label:focus{
    outline: 2px solid rgba(9, 194, 255, 0.56);
}

label::after{
    content: attr(data-option-lable);
}